openapi: 3.2.0
info:
  description: MISO Public Specification to support Market System Enhancement (MSE) new Market User Interface (MUI 2.0).
  title: MUI - Public Specification Offer API
  contact:
    name: MUI 2.0 Questions
    url: https://www.misoenergy.org/markets-and-operations/MSE/market-user-interface/
    email: MSEQuestions@misoenergy.org
  license:
    name: For use by MISO member companies and thier vendors
  version: 3.3.0
servers:
- url: https://cce.midwestiso.org/dart2/
- url: https://markets.midwestiso.org/dart2/
tags:
- name: Offer
paths:
  /markets/real-time/{day}/offer/ramp-curves/participants/{participantName}:
    description: Submit and return the ramp rate curves portion of the Real-Time schedules offer. Data can be submitted at any time per the market rules. The Ramp Rate Curves are used in market clearing only if they are effective for the operating date and hour of the market, and if the 'Enable Ramp Rate Curves' flag is set to true for that hour in the Schedule Offer ramp rate values.  To be effective for a given market date and hour, submittal must have completed by market closing. Submission for one or more pnode locations is supported.
    parameters:
    - $ref: '#/components/parameters/x-acting-participant'
    get:
      tags:
      - Offer
      description: Returns the collection of Real-Time ramp rate curves by pnode location for the day. Pnode or portfolio query parameter may be provided, otherwise all valid resources supporting ramp rate curves for participant are returned. Message format differs by offerType property which can be one of the following values; -  rampCurve -  esrRampCurve
      operationId: getOfferRampRateCurves
      parameters:
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      - $ref: '#/components/parameters/Pnode'
      - $ref: '#/components/parameters/Portfolio'
      - $ref: '#/components/parameters/Hour'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiVariantRampRateCurves'
          headers:
            http-x-request-id:
              $ref: '#/components/headers/http-x-request-id'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
    post:
      tags:
      - Offer
      description: Post the collection hourly ramp rate curves for one or more pnode locations. Message format differs by offerType property which can be one of the following values; -  rampCurve -  esrRampCurve
      operationId: postOfferRampRateCurves
      parameters:
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      responses:
        '200':
          $ref: '#/components/responses/OkApiResponse'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiVariantRampRateCurves'
  /markets/common/{day}/offer/cc-status/participants/{participantName}:
    description: Manage Combined Cycle Status. Submission for one or more pnode locations is supported.
    parameters:
    - $ref: '#/components/parameters/x-acting-participant'
    get:
      tags:
      - Offer
      description: Returns the collection of Combined Cycle status by pnode location for the day. Pnode or portfolio query parameters may be provided, otherwise all Combined Cycle aggregate resources for participant are returned.
      operationId: getCombinedCycleResourceDay
      parameters:
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      - $ref: '#/components/parameters/Pnode'
      - $ref: '#/components/parameters/Portfolio'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombinedCycleStatus'
          headers:
            http-x-request-id:
              $ref: '#/components/headers/http-x-request-id'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
    post:
      tags:
      - Offer
      description: Submit Combined Cycle status for one or more pnode locations.
      operationId: postCombinedCycleResourceDay
      parameters:
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      responses:
        '200':
          $ref: '#/components/responses/OkApiResponse'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CombinedCycleStatus'
  /markets/{market}/{day}/offer/auto-overrides/participants/{participantName}:
    description: Returns regulation offer overrides.
    parameters:
    - $ref: '#/components/parameters/x-acting-participant'
    get:
      tags:
      - Offer
      description: 'Returns the collection of regulation offer overrides by pnode location for the day. Pnode or portfolio query parameters may be provided, otherwise all applicable resources for participant which have been overriden are returned. Regulation Offers are overridden under the following circumstances.

        1. The Participant’s combined Regulation Capacity and Mileage Offers exceed the allowable Total Regulation Offer range (this can occur if a Deployment Rate change occurs).

        2. The Participant’s Resource is awarded regulation capacity in the Day Ahead Market, and Participant’s Real-Time regulation offer differs from its Day Ahead regulation offer for the operating day.

        '
      operationId: getScheduleOfferOverrides
      parameters:
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      - $ref: '#/components/parameters/Pnode'
      - $ref: '#/components/parameters/Portfolio'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulationOfferOverrides'
          headers:
            http-x-request-id:
              $ref: '#/components/headers/http-x-request-id'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
  /markets/{market}/{day}/offer/qualification-status/participants/{participantName}:
    description: Returns Qualification Status flags for a resource or Portfolio of resources.
    parameters:
    - $ref: '#/components/parameters/x-acting-participant'
    get:
      tags:
      - Offer
      description: Returns the collection of qualification status flags by pnode location for the day. Pnode or portfolio query parameters may be provided, otherwise all applicable resources for participant are returned. parameter must be supplied.
      operationId: getQualificationStatus
      parameters:
      - $ref: '#/components/parameters/MarketType'
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      - $ref: '#/components/parameters/Pnode'
      - $ref: '#/components/parameters/Portfolio'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualificationStatus'
          headers:
            http-x-request-id:
              $ref: '#/components/headers/http-x-request-id'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
  /markets/{market}/{day}/offer/schedule/participants/{participantName}:
    description: Manage Schedule Offer. Submission for one or more pnode locations is supported.
    parameters:
    - $ref: '#/components/parameters/x-acting-participant'
    get:
      tags:
      - Offer
      description: Returns the collection of daily/hourly schedule offers by pnode location for the day. Pnode or portfolio query parameters may be provided, otherwise all applicable resources for participant are returned. Message format differs by offerType property which can be one of the following values; - genOffer - dirOffer - drr1Offer - drr2Offer - earOffer - serOffer - esrOffer
      operationId: getScheduleOffer
      parameters:
      - $ref: '#/components/parameters/MarketTypeIncBoth'
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      - $ref: '#/components/parameters/Pnode'
      - $ref: '#/components/parameters/Portfolio'
      - $ref: '#/components/parameters/LocationType'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiVariantScheduleOffer'
          headers:
            http-x-request-id:
              $ref: '#/components/headers/http-x-request-id'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
    post:
      tags:
      - Offer
      description: Submit the daily/hourly schedule offers for one or more pnode locations for the day. Message format differs by offerType property which can be one of the following values; - genOffer - dirOffer - drr1Offer - drr2Offer - earOffer - serOffer - esrOffer
      operationId: postScheduleOffer
      parameters:
      - $ref: '#/components/parameters/MarketTypeIncBoth'
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      responses:
        '200':
          $ref: '#/components/responses/OkApiResponse'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiVariantScheduleOffer'
  /markets/{market}/{day}/offer/defaults/participants/{participantName}:
    description: Manage Schedule Defaults. Submission for one or more pnode locations is supported.
    parameters:
    - $ref: '#/components/parameters/x-acting-participant'
    get:
      tags:
      - Offer
      description: Returns the collection of schedule offer defaults by pnode location for the day.  Pnode or portfolio query parameters may be provided, otherwise all applicable resources for participant are returned. Message format differs by offerType property which can be one of the following values; - genDefaultOffer - dirDefaultOffer - drr1DefaultOffer - drr2DefaultOffer - earDefaultOffer - serDefaultOffer - esrDefaultOffer
      operationId: getDefaultDay
      parameters:
      - $ref: '#/components/parameters/MarketTypeIncBoth'
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      - $ref: '#/components/parameters/Pnode'
      - $ref: '#/components/parameters/Portfolio'
      - $ref: '#/components/parameters/LocationType'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiVariantScheduleDefault'
          headers:
            http-x-request-id:
              $ref: '#/components/headers/http-x-request-id'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
    post:
      tags:
      - Offer
      description: Submit schedule offer defaults for one or more pnode locations for the day. Message format differs by offerType property which can be one of the following values; - genDefaultOffer - dirDefaultOffer - drr1DefaultOffer - drr2DefaultOffer - earDefaultOffer - serDefaultOffer - esrDefaultOffer
      operationId: postDefaultDay
      parameters:
      - $ref: '#/components/parameters/MarketTypeIncBoth'
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      responses:
        '200':
          $ref: '#/components/responses/OkApiResponse'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiVariantScheduleDefault'
  /markets/real-time/{day}/offer/overrides/participants/{participantName}:
    description: Manage Real Time Offer Overrides API. Submission for one or more pnode locations is supported.
    parameters:
    - $ref: '#/components/parameters/x-acting-participant'
    get:
      tags:
      - Offer
      description: Returns the collection of Real-Time offer overrides by pnode location for the day. Pnode or portfolio query parameters may be provided, otherwise all applicable resources for participant are returned. Message format differs by offerType property which can be one of the following values; - genScheduleOfferOverrides - dirScheduleOfferOverrides - drr1ScheduleOfferOverrides - drr2ScheduleOfferOverrides - earScheduleOfferOverrides - serScheduleOfferOverrides - esrScheduleOfferOverrides
      operationId: getRealTimeOfferOverrides
      parameters:
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      - $ref: '#/components/parameters/Pnode'
      - $ref: '#/components/parameters/Portfolio'
      - $ref: '#/components/parameters/LocationType'
      - name: interval5Since
        description: Date-time as defined in RFC 3339 having format YYYY-MM-DDTHH:MM:SS-05:00. Optional element to specify the interval since which the overrides are requested. If {day} is today and interval5Since is not provided then currectly active overrides will be returned. If {day} is not today and interval5Since is not provided then data for the day since interval 23:59:59 will be returned.
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/MarketIntervalLabel'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedMultiVariantRTOfferOverrides'
          headers:
            http-x-request-id:
              $ref: '#/components/headers/http-x-request-id'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
    post:
      tags:
      - Offer
      description: Submit the Real-Time offer overrides by one or more pnode locations for the day. Message format differs by offerType property which can be one of the following values; - genScheduleOfferOverrides - dirScheduleOfferOverrides - drr1ScheduleOfferOverrides - drr2ScheduleOfferOverrides - earScheduleOfferOverrides - serScheduleOfferOverrides - esrScheduleOfferOverrides
      operationId: postRealTimeOfferOverrides
      parameters:
      - $ref: '#/components/parameters/MarketOperatingDay'
      - $ref: '#/components/parameters/Participant'
      responses:
        '200':
          $ref: '#/components/responses/OkApiResponse'
        '400':
          $ref: '#/components/responses/BadRequestApiResponse'
        '403':
          $ref: '#/components/responses/UnauthorizedApiResponse'
        '404':
          $ref: '#/components/responses/NotFoundApiResponse'
        '500':
          $ref: '#/components/responses/InternalErrorApiResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiVariantRTOfferOverrides'
components:
  schemas:
    DRR2CommitStatus:
      type: string
      enum:
      - NotParticipating
      - Economic
      - Emergency
      - MustRun
      - Outage
    PNodeName:
      description: Commercial Pricing Node (PNode) name.
      type: string
      minLength: 1
      maxLength: 30
      example: PNODE1
    EAREnergyDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - SelfSchedule
      - null
    OfflineSTRDispatchStatus:
      type: string
      enum:
      - Economic
      - NotParticipating
    LocationType:
      description: Unit type of a Commercial Pricing Node (PNode).
      type: string
      enum:
      - GEN
      - DIR
      - DRR1
      - DRR2
      - EAR
      - SER
      - ESR
    DRR2ScheduleDefaultItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - drr2DefaultOffer
          example: drr2DefaultOffer
        market:
          $ref: '#/components/schemas/MarketType'
        defaultRampRates:
          type: object
          properties:
            rampRate:
              $ref: '#/components/schemas/MWRampRate'
            rampRateBidirectional:
              $ref: '#/components/schemas/MWRampRate'
            rampRateUp:
              $ref: '#/components/schemas/MWRampRate'
            rampRateDown:
              $ref: '#/components/schemas/MWRampRate'
          additionalProperties: false
        defaultRunTimes:
          type: object
          properties:
            maximumDailyCRDeployment:
              $ref: '#/components/schemas/RealEnergyResultsNullable'
            maximumDailyRegUpDeployment:
              $ref: '#/components/schemas/RealEnergyResultsNullable'
            maximumDailyRegDownDeployment:
              $ref: '#/components/schemas/RealEnergyResultsNullable'
          additionalProperties: false
        defaultStartupCosts:
          type: object
          properties:
            noLoadCost:
              $ref: '#/components/schemas/OpCostNullable'
            coldStartupCost:
              $ref: '#/components/schemas/OpCostNullable'
            intermediateStartupCost:
              $ref: '#/components/schemas/OpCostNullable'
            hotStartupCost:
              $ref: '#/components/schemas/OpCostNullable'
          additionalProperties: false
        defaultStatus:
          type: object
          properties:
            commitStatus:
              $ref: '#/components/schemas/DRR2CommitStatus'
            energyDispatchStatus:
              $ref: '#/components/schemas/DRR2EnergyDispatchStatus'
            regulationDispatchStatus:
              $ref: '#/components/schemas/DRR2RegDispatchStatus'
            spinningDispatchStatus:
              $ref: '#/components/schemas/DRR2SpinDispatchStatus'
            onlineSuppDispatchStatus:
              $ref: '#/components/schemas/DRR2OnSuppDispatchStatus'
            offlineSuppDispatchStatus:
              $ref: '#/components/schemas/DRR2OffSuppDispatchStatus'
            onlineShortTermReserveDispatchStatus:
              $ref: '#/components/schemas/OnlineSTRDispatchStatus'
            offlineShortTermReserveDispatchStatus:
              $ref: '#/components/schemas/OfflineSTRDispatchStatus'
            rampCapabilityDispatchStatus:
              $ref: '#/components/schemas/DRR2RampDispatchStatus'
          additionalProperties: false
        defaultLimits:
          type: object
          properties:
            economicLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
            emergencyLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
            regulationLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
            offlineResourceLimit:
              $ref: '#/components/schemas/RealEnergy'
            offlineShortTermReserveLimit:
              $ref: '#/components/schemas/RealEnergy'
          additionalProperties: false
      required:
      - offerType
      - market
      additionalProperties: false
    RetrievedMultiVariantRTOfferOverrides:
      description: Real Time Offer Overrides response. Offer format will vary based on offerType variant.
      type: object
      properties:
        day:
          $ref: '#/components/schemas/MarketOperatingDay'
        resources:
          type: array
          items:
            type: object
            properties:
              pnodeName:
                $ref: '#/components/schemas/PNodeName'
              offers:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/RetrievedGenRTOfferOverridesItem'
                  - $ref: '#/components/schemas/RetrievedDRR2RTOfferOverridesItem'
                  - $ref: '#/components/schemas/RetrievedDRR1RTOfferOverridesItem'
                  - $ref: '#/components/schemas/RetrievedEARRTOfferOverridesItem'
                  - $ref: '#/components/schemas/RetrievedSERRTOfferOverridesItem'
                  - $ref: '#/components/schemas/RetrievedDIRRTOfferOverridesItem'
                  - $ref: '#/components/schemas/RetrievedESRRTOfferOverridesItem'
            required:
            - pnodeName
            - offers
      required:
      - day
      - resources
    ESRSpinDispatchStatus:
      type: string
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
    GenOnSuppDispatchStatus:
      type: string
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
    RetrievedDIRRTOfferOverridesItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - dirScheduleOfferOverrides
          example: dirScheduleOfferOverrides
        effectiveOfferOverrides:
          type: array
          minItems: 0
          items:
            type: object
            properties:
              effectiveTime:
                $ref: '#/components/schemas/MarketIntervalLabel'
              runtimeOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  notificationTime:
                    $ref: '#/components/schemas/NotificationTime'
                  runtimeOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  runtimeOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - notificationTime
                - runtimeOverrideReason
                - runtimeOverrideText
              unitLimitOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  economicLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                  emergencyLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                  unitLimitOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  unitLimitOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - economicLimits
                - emergencyLimits
                - unitLimitOverrideReason
                - unitLimitOverrideText
              rampRateOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  rampRateUp:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateDown:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateBidirectional:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  rampRateOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - rampRateUp
                - rampRateDown
                - rampRateBidirectional
                - rampRateOverrideReason
                - rampRateOverrideText
              selfScheduleOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  energySelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  selfScheduleOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  selfScheduleOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - energySelfScheduleMW
                - selfScheduleOverrideReason
                - selfScheduleOverrideText
              dispatchStatusOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  energyDispatchStatus:
                    $ref: '#/components/schemas/GenEnergyDispatchStatus'
                  rampCapabilityDispatchStatus:
                    $ref: '#/components/schemas/GenRampDispatchStatus'
                  dispatchStatusOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  dispatchStatusOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - energyDispatchStatus
                - rampCapabilityDispatchStatus
                - dispatchStatusOverrideReason
                - dispatchStatusOverrideText
              commitStatusOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  commitStatus:
                    $ref: '#/components/schemas/GenCommitStatus'
                  commitStatusOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  commitStatusOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - commitStatus
                - commitStatusOverrideReason
                - commitStatusOverrideText
              offControlOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  offControlFlag:
                    type:
                    - boolean
                    - 'null'
                    example: true
                  eeeFlag:
                    description: Specifies the Energy Deployment Charge Exemption (EEE) override.  May be set true only when OffControlFlag = true. When reason is RGDOverride then may not be present in output.
                    type:
                    - boolean
                    - 'null'
                    example: true
                  offControlOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  offControlOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - offControlFlag
                - offControlOverrideReason
                - offControlOverrideText
      required:
      - offerType
      - effectiveOfferOverrides
    MarketTypeIncBoth:
      description: Energy Market types, includes support for both markets.
      type: string
      enum:
      - day-ahead
      - real-time
      - both
    SERScheduleDefaultItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - serDefaultOffer
          example: serDefaultOffer
        market:
          $ref: '#/components/schemas/MarketType'
        defaultRampRates:
          type: object
          properties:
            rampRate:
              $ref: '#/components/schemas/MWRampRate'
            rampRateBidirectional:
              $ref: '#/components/schemas/MWRampRate'
          additionalProperties: false
        defaultStatus:
          type: object
          properties:
            commitStatus:
              $ref: '#/components/schemas/SERCommitStatus'
            regulationDispatchStatus:
              $ref: '#/components/schemas/SERRegDispatchStatus'
          additionalProperties: false
        defaultLimits:
          type: object
          properties:
            regulationLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
          additionalProperties: false
      required:
      - offerType
      - market
      additionalProperties: false
    GenRampDispatchStatus:
      type: string
      enum:
      - Economic
      - NotParticipating
    ESRScheduleDefaultItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - esrDefaultOffer
          example: esrDefaultOffer
        market:
          $ref: '#/components/schemas/MarketType'
        defaultRampRates:
          type: object
          properties:
            chargeRampRate:
              $ref: '#/components/schemas/ESRMWRampRate'
            dischargeRampRate:
              $ref: '#/components/schemas/ESRMWRampRate'
          additionalProperties: false
        defaultStartupCosts:
          type: object
          properties:
            noLoadCost:
              $ref: '#/components/schemas/OpCostNullable'
            startupCost:
              $ref: '#/components/schemas/OpCostNullable'
          additionalProperties: false
        defaultStatus:
          type: object
          properties:
            commitStatus:
              $ref: '#/components/schemas/ESRCommitStatus'
            energyDispatchStatus:
              $ref: '#/components/schemas/ESREnergyDispatchStatus'
            regulationDispatchStatus:
              $ref: '#/components/schemas/ESRRegDispatchStatus'
            spinningDispatchStatus:
              $ref: '#/components/schemas/ESRSpinDispatchStatus'
            onlineSuppDispatchStatus:
              $ref: '#/components/schemas/ESROnSuppDispatchStatus'
            offlineSuppDispatchStatus:
              $ref: '#/components/schemas/ESROffSuppDispatchStatus'
            onlineShortTermReserveDispatchStatus:
              $ref: '#/components/schemas/OnlineSTRDispatchStatus'
            offlineShortTermReserveDispatchStatus:
              $ref: '#/components/schemas/OfflineSTRDispatchStatus'
            rampCapabilityDispatchStatus:
              $ref: '#/components/schemas/ESRRampDispatchStatus'
          additionalProperties: false
        defaultLimits:
          type: object
          properties:
            chargeEconomicLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergyNegative'
                maxMW:
                  $ref: '#/components/schemas/RealEnergyNegative'
            chargeEmergencyLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergyNegative'
                maxMW:
                  $ref: '#/components/schemas/RealEnergyNegative'
            chargeRegulationLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergyNegative'
                maxMW:
                  $ref: '#/components/schemas/RealEnergyNegative'
            dischargeEconomicLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergySigned'
                maxMW:
                  $ref: '#/components/schemas/RealEnergySigned'
            dischargeEmergencyLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergySigned'
                maxMW:
                  $ref: '#/components/schemas/RealEnergySigned'
            dischargeRegulationLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergySigned'
                maxMW:
                  $ref: '#/components/schemas/RealEnergySigned'
            offlineResourceLimit:
              $ref: '#/components/schemas/RealEnergy'
            offlineShortTermReserveLimit:
              $ref: '#/components/schemas/RealEnergy'
          additionalProperties: false
        defaultEnergyStorageLevels:
          type: object
          properties:
            minimumEnergyStorageLevel:
              $ref: '#/components/schemas/RealEnergySigned'
            maximumEnergyStorageLevel:
              $ref: '#/components/schemas/RealEnergySigned'
            emergencyMinimumEnergyStorageLevel:
              $ref: '#/components/schemas/RealEnergySigned'
            emergencyMaximumEnergyStorageLevel:
              $ref: '#/components/schemas/RealEnergySigned'
            energyStorageEfficiencyFactor:
              $ref: '#/components/schemas/Percentage4DP'
          additionalProperties: false
      required:
      - offerType
      - market
      additionalProperties: false
    ESROffSuppDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - NotParticipating
      - Emergency
      - null
    NotificationTime:
      description: Type used to represent time required for Cold Notification/Intermediate Notification/Hot Notification for the resource.
      type: string
      pattern: ^[0-9]{1,3}[:][0-5][0-9]$
      example: 001:59
    EARRampDispatchStatus:
      type: string
      enum:
      - Economic
      - NotParticipating
    DRR1ScheduleDefaultItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - drr1DefaultOffer
          example: drr1DefaultOffer
        market:
          $ref: '#/components/schemas/MarketType'
        defaultRunTimes:
          type: object
          properties:
            maximumDailyCRDeployment:
              $ref: '#/components/schemas/RealEnergyResultsNullable'
          additionalProperties: false
        defaultStatus:
          type: object
          properties:
            commitStatus:
              $ref: '#/components/schemas/DRR1CommitStatus'
            spinningDispatchStatus:
              $ref: '#/components/schemas/DRR1SpinDispatchStatus'
            onlineSuppDispatchStatus:
              $ref: '#/components/schemas/DRR1OnSuppDispatchStatus'
            offlineShortTermReserveDispatchStatus:
              $ref: '#/components/schemas/OfflineSTRDispatchStatus'
          additionalProperties: false
        defaultLimits:
          type: object
          properties:
            economicLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
            emergencyLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
            regulationLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
            offlineResourceLimit:
              $ref: '#/components/schemas/RealEnergy'
          additionalProperties: false
      required:
      - offerType
      - market
      additionalProperties: false
    ESROnSuppDispatchStatus:
      type: string
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
    GenOnSuppDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - null
    DRR1SpinDispatchStatus:
      type: string
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - Emergency
      - NotParticipating
    RetrievedDRR2RTOfferOverridesItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - drr2ScheduleOfferOverrides
          example: drr2ScheduleOfferOverrides
        effectiveOfferOverrides:
          type: array
          minItems: 0
          items:
            type: object
            properties:
              effectiveTime:
                $ref: '#/components/schemas/MarketIntervalLabel'
              runtimeOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  notificationTime:
                    $ref: '#/components/schemas/NotificationTime'
                  runtimeOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  runtimeOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - notificationTime
                - runtimeOverrideReason
                - runtimeOverrideText
              unitLimitOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  economicLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                    - maxMW
                  emergencyLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                    - maxMW
                  regulationLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                    - maxMW
                  unitLimitOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  unitLimitOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - economicLimits
                - emergencyLimits
                - regulationLimits
                - unitLimitOverrideReason
                - unitLimitOverrideText
              offlineRespOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  offlineResourceLimit:
                    $ref: '#/components/schemas/RealEnergy'
                  offlineShortTermReserveLimit:
                    $ref: '#/components/schemas/RealEnergy'
                  offlineRespOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  offlineRespOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - offlineResourceLimit
                - offlineRespOverrideReason
                - offlineRespOverrideText
              rampRateOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  rampRateUp:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateDown:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateBidirectional:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  rampRateOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - rampRateUp
                - rampRateDown
                - rampRateBidirectional
                - rampRateOverrideReason
                - rampRateOverrideText
              selfScheduleOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  energySelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  regulationSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  spinningSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  onlineSuppSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  offlineSuppSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  selfScheduleOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  selfScheduleOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - energySelfScheduleMW
                - regulationSelfScheduleMW
                - spinningSelfScheduleMW
                - onlineSuppSelfScheduleMW
                - offlineSuppSelfScheduleMW
                - selfScheduleOverrideReason
                - selfScheduleOverrideText
              dispatchStatusOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  energyDispatchStatus:
                    $ref: '#/components/schemas/DRR2EnergyDispatchStatus'
                  regulationDispatchStatus:
                    $ref: '#/components/schemas/DRR2RegDispatchStatus'
                  spinningReserveDispatchStatus:
                    $ref: '#/components/schemas/DRR2SpinDispatchStatus'
                  onlineSuppReserveDispatchStatus:
                    $ref: '#/components/schemas/DRR2OnSuppDispatchStatus'
                  offlineSuppReserveDispatchStatus:
                    $ref: '#/components/schemas/DRR2OffSuppDispatchStatus'
                  onlineShortTermReserveDispatchStatus:
                    $ref: '#/components/schemas/OnlineSTRDispatchStatus'
                  offlineShortTermReserveDispatchStatus:
                    $ref: '#/components/schemas/OfflineSTRDispatchStatus'
                  rampCapabilityDispatchStatus:
                    $ref: '#/components/schemas/DRR2RampDispatchStatus'
                  dispatchStatusOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  dispatchStatusOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - energyDispatchStatus
                - regulationDispatchStatus
                - spinningReserveDispatchStatus
                - onlineSuppReserveDispatchStatus
                - offlineSuppReserveDispatchStatus
                - rampCapabilityDispatchStatus
                - dispatchStatusOverrideReason
                - dispatchStatusOverrideText
              commitStatusOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  commitStatus:
                    $ref: '#/components/schemas/DRR2CommitStatus'
                  commitStatusOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  commitStatusOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - commitStatus
                - commitStatusOverrideReason
                - commitStatusOverrideText
              offControlOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  offControlFlag:
                    type: boolean
                    example: true
                  eeeFlag:
                    description: Specifies the Energy Deployment Charge Exemption (EEE) override.  May be set true only when OffControlFlag = true. When reason is RGDOverride then may not be present in output.
                    type: boolean
                    example: true
                  offControlOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  offControlOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - offControlFlag
                - offControlOverrideReason
                - offControlOverrideText
              fastRampResourceOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  fastRampResource:
                    type: boolean
                    example: true
                  fastRampOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  fastRampOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - fastRampResource
                - fastRampOverrideReason
                - fastRampOverrideText
      required:
      - offerType
      - effectiveOfferOverrides
    HourLabel:
      description: Hour ending label. Represents an hour segment of time.
      type: integer
      minimum: 1
      maximum: 24
      example: 1
    ESRSpinDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - null
    RunTimeNullable:
      description: Type used to represent run time for the resource.
      type:
      - string
      - 'null'
      pattern: ^[0-9]{1,3}[:][0-5][0-9]$
      example: '999:00'
    DurationNullable:
      description: Type used to represent time duration.
      type:
      - string
      - 'null'
      pattern: ^[0-9]{1,3}[:][0-5][0-9]$
      example: 001:00
    ESRCommitStatus:
      type: string
      enum:
      - Discharge
      - Charge
      - Continuous
      - EmergencyDischarge
      - EmergencyCharge
      - Available
      - NotParticipating
      - Outage
    EARSpinDispatchStatus:
      type: string
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
    DRR2SpinDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - null
    SERCommitStatus:
      type: string
      enum:
      - Available
      - Unavailable
    SERCommitStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Available
      - Unavailable
      - null
    RetrievedEARRTOfferOverridesItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - earScheduleOfferOverrides
          example: earScheduleOfferOverrides
        effectiveOfferOverrides:
          type: array
          minItems: 0
          items:
            type: object
            properties:
              effectiveTime:
                $ref: '#/components/schemas/MarketIntervalLabel'
              runtimeOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  notificationTime:
                    $ref: '#/components/schemas/NotificationTime'
                  runtimeOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  runtimeOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - notificationTime
                - runtimeOverrideReason
                - runtimeOverrideText
              unitLimitOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  economicLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                    - maxMW
                  emergencyLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                    - maxMW
                  regulationLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                    - maxMW
                  unitLimitOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  unitLimitOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - economicLimits
                - emergencyLimits
                - regulationLimits
                - unitLimitOverrideReason
                - unitLimitOverrideText
              rampRateOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  rampRateUp:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateDown:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateBidirectional:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  rampRateOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - rampRateUp
                - rampRateDown
                - rampRateBidirectional
                - rampRateOverrideReason
                - rampRateOverrideText
              selfScheduleOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  energySelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  regulationSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  spinningSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  onlineSuppSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  selfScheduleOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  selfScheduleOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - energySelfScheduleMW
                - regulationSelfScheduleMW
                - spinningSelfScheduleMW
                - onlineSuppSelfScheduleMW
                - selfScheduleOverrideReason
                - selfScheduleOverrideText
              dispatchStatusOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  energyDispatchStatus:
                    $ref: '#/components/schemas/EAREnergyDispatchStatus'
                  regulationDispatchStatus:
                    $ref: '#/components/schemas/EARRegDispatchStatus'
                  spinningReserveDispatchStatus:
                    $ref: '#/components/schemas/EARSpinDispatchStatus'
                  onlineSuppReserveDispatchStatus:
                    $ref: '#/components/schemas/EAROnSuppDispatchStatus'
                  onlineShortTermReserveDispatchStatus:
                    $ref: '#/components/schemas/OnlineSTRDispatchStatus'
                  rampCapabilityDispatchStatus:
                    $ref: '#/components/schemas/EARRampDispatchStatus'
                  dispatchStatusOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  dispatchStatusOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - energyDispatchStatus
                - regulationDispatchStatus
                - spinningReserveDispatchStatus
                - onlineSuppReserveDispatchStatus
                - rampCapabilityDispatchStatus
                - dispatchStatusOverrideReason
                - dispatchStatusOverrideText
              commitStatusOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  commitStatus:
                    $ref: '#/components/schemas/EARCommitStatus'
                  commitStatusOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  commitStatusOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - commitStatus
                - commitStatusOverrideReason
                - commitStatusOverrideText
              offControlOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  offControlFlag:
                    type: boolean
                    example: true
                  eeeFlag:
                    description: Specifies the Energy Deployment Charge Exemption (EEE) override.  May be set true only when OffControlFlag = true. When reason is RGDOverride then may not be present in output.
                    type: boolean
                    example: true
                  offControlOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  offControlOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - offControlFlag
                - offControlOverrideReason
                - offControlOverrideText
              fastRampResourceOverrides:
                type: object
                properties:
                  start:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  end:
                    $ref: '#/components/schemas/MarketIntervalLabel'
                  fastRampResource:
                    type: boolean
                    example: true
                  fastRampOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  fastRampOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - start
                - end
                - fastRampResource
                - fastRampOverrideReason
                - fastRampOverrideText
      required:
      - offerType
      - effectiveOfferOverrides
    DRR2OffSuppDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - NotParticipating
      - Emergency
      - null
    EAROnSuppDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - null
    RealEnergyNegativeNullable:
      description: Used to represent real energy values submitted to the market that must be less than or equal to zero. Nullable added to allow for data driven delete behaviour.
      type:
      - number
      - 'null'
      format: realenergy
      multipleOf: 0.1
      minimum: -9.99999999E7
      maximum: 0
      example: -1200.7
    DRR2RampDispatchStatus:
      type: string
      enum:
      - Economic
      - NotParticipating
    ESROffSuppDispatchStatus:
      type: string
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - NotParticipating
      - Emergency
    ParticipantName:
      description: Market participant name.
      type: string
      minLength: 1
      maxLength: 40
      example: MP
    ESRScheduleOfferItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - esrOffer
          example: esrOffer
        scheduleType:
          $ref: '#/components/schemas/ScheduleType'
        market:
          $ref: '#/components/schemas/MarketType'
        startupCostsDaily:
          type: object
          properties:
            startupCost:
              $ref: '#/components/schemas/OpCostNullable'
        noLoadCostsHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              cost:
                $ref: '#/components/schemas/OpCostNullable'
            required:
            - hour
        commitStatusHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              status:
                $ref: '#/components/schemas/ESRCommitStatusNullable'
            required:
            - hour
        runtimesDaily:
          type: object
          properties:
            minimumChargeTime:
              $ref: '#/components/schemas/RunTimeNullable'
            maximumChargeTime:
              $ref: '#/components/schemas/MaxRunTimeNullable'
            minimumDischargeTime:
              $ref: '#/components/schemas/RunTimeNullable'
            maximumDischargeTime:
              $ref: '#/components/schemas/MaxRunTimeNullable'
            maximumDailyStarts:
              type:
              - integer
              - 'null'
            maximumDailyEnergy:
              $ref: '#/components/schemas/RealEnergyResultsSignedNullable'
            maximumWeeklyStarts:
              type:
              - integer
              - 'null'
            maximumWeeklyEnergy:
              $ref: '#/components/schemas/RealEnergyResultsSignedNullable'
        runtimesHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              runtimesHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  coldStartupTime:
                    $ref: '#/components/schemas/StartupTimeNullable'
                  intermediateStartupTime:
                    $ref: '#/components/schemas/StartupTimeNullable'
                  hotStartupTime:
                    $ref: '#/components/schemas/StartupTimeNullable'
                  coldNotificationTime:
                    $ref: '#/components/schemas/NotificationTimeNullable'
                  intermediateNotificationTime:
                    $ref: '#/components/schemas/NotificationTimeNullable'
                  hotNotificationTime:
                    $ref: '#/components/schemas/NotificationTimeNullable'
            required:
            - hour
        unitLimitsHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              unitLimitsHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  chargeEmergencyLimits:
                    type: object
                    description: Either one or both the MW limit properties can be submitted to update the unit limit pair with a MW value or with a null. Submitting mixed null and MW values when both are submitted is not allowed.
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergyNegativeNullable'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergyNegativeNullable'
                  chargeEconomicLimits:
                    type: object
                    description: Either one or both the MW limit properties can be submitted to update the unit limit pair with a MW value or with a null. Submitting mixed null and MW values when both are submitted is not allowed.
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergyNegativeNullable'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergyNegativeNullable'
                  chargeRegulationLimits:
                    type: object
                    description: Either one or both the MW limit properties can be submitted to update the unit limit pair with a MW value or with a null. Submitting mixed null and MW values when both are submitted is not allowed.
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergyNegativeNullable'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergyNegativeNullable'
                  dischargeEmergencyLimits:
                    type: object
                    description: Either one or both the MW limit properties can be submitted to update the unit limit pair with a MW value or with a null. Submitting mixed null and MW values when both are submitted is not allowed.
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergySignedNullable'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergySignedNullable'
                  dischargeEconomicLimits:
                    type: object
                    description: Either one or both the MW limit properties can be submitted to update the unit limit pair with a MW value or with a null. Submitting mixed null and MW values when both are submitted is not allowed.
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergySignedNullable'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergySignedNullable'
                  dischargeRegulationLimits:
                    type: object
                    description: Either one or both the MW limit properties can be submitted to update the unit limit pair with a MW value or with a null. Submitting mixed null and MW values when both are submitted is not allowed.
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergySignedNullable'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergySignedNullable'
                  offlineResourceLimit:
                    $ref: '#/components/schemas/RealEnergyNullable'
                  offlineShortTermReserveLimit:
                    $ref: '#/components/schemas/RealEnergyNullable'
            required:
            - hour
        rampRatesHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              rampRatesHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  enableRampRateCurvesHourly:
                    type: boolean
                    example: true
                  chargeRampRate:
                    $ref: '#/components/schemas/MWRampRateNullable'
                  dischargeRampRate:
                    $ref: '#/components/schemas/MWRampRateNullable'
            required:
            - hour
        energyOfferHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              energyOfferHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  offerPriceCurve:
                    type:
                    - object
                    - 'null'
                    description: The scheduled price curve for a given hour ending.
                    properties:
                      slope:
                        type: boolean
                        description: If slope is true then curve is interpreted as a piece-wise linear curve otherwise it is treated as a block curve. A curve with no segments is given the default slope value of false.
                      priceCurveSegments:
                        type: array
                        items:
                          type: object
                          properties:
                            mw:
                              $ref: '#/components/schemas/RealEnergy'
                            price:
                              $ref: '#/components/schemas/MarketPrice'
                          required:
                          - mw
                          - price
                        maxItems: 10
                    required:
                    - slope
                    - priceCurveSegments
                  dispatchStatus:
                    $ref: '#/components/schemas/ESREnergyDispatchStatusNullable'
                  selfScheduleMW:
                    $ref: '#/components/schemas/RealEnergyNullable'
                  rampCapabilityDispatchStatus:
                    $ref: '#/components/schemas/ESRRampDispatchStatusNullable'
            required:
            - hour
        regulationOfferHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              regulationOfferHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  offerPriceCurve:
                    type:
                    - object
                    - 'null'
                    description: The scheduled price curve for a given hour ending.
                    properties:
                      slope:
                        type: boolean
                        description: If slope is true then curve is interpreted as a piece-wise linear curve otherwise it is treated as a block curve. A curve with no segments is given the default slope value of false.
                      priceCurveSegments:
                        type: array
                        items:
                          type: object
                          properties:
                            mw:
                              $ref: '#/components/schemas/RealEnergy'
                            price:
                              $ref: '#/components/schemas/MarketPrice'
                          required:
                          - mw
                          - price
                        maxItems: 3
                    required:
                    - slope
                    - priceCurveSegments
                  mileageOfferPrice:
                    $ref: '#/components/schemas/MarketPriceNullable'
                  dispatchStatus:
                    $ref: '#/components/schemas/ESRRegDispatchStatusNullable'
                  selfScheduleMW:
                    $ref: '#/components/schemas/RealEnergyNullable'
            required:
            - hour
        spinningOfferHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              spinningOfferHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  offerPriceCurve:
                    type:
                    - object
                    - 'null'
                    description: The scheduled price curve for a given hour ending.
                    properties:
                      slope:
                        type: boolean
                        description: If slope is true then curve is interpreted as a piece-wise linear curve otherwise it is treated as a block curve. A curve with no segments is given the default slope value of false.
                      priceCurveSegments:
                        type: array
                        items:
                          type: object
                          properties:
                            mw:
                              $ref: '#/components/schemas/RealEnergy'
                            price:
                              $ref: '#/components/schemas/MarketPrice'
                          required:
                          - mw
                          - price
                        maxItems: 3
                    required:
                    - slope
                    - priceCurveSegments
                  dispatchStatus:
                    $ref: '#/components/schemas/ESRSpinDispatchStatusNullable'
                  selfScheduleMW:
                    $ref: '#/components/schemas/RealEnergyNullable'
            required:
            - hour
        onlineSuppOfferHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              suppOfferHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  offerPriceCurve:
                    type:
                    - object
                    - 'null'
                    description: The scheduled price curve for a given hour ending.
                    properties:
                      slope:
                        type: boolean
                        description: If slope is true then curve is interpreted as a piece-wise linear curve otherwise it is treated as a block curve. A curve with no segments is given the default slope value of false.
                      priceCurveSegments:
                        type: array
                        items:
                          type: object
                          properties:
                            mw:
                              $ref: '#/components/schemas/RealEnergy'
                            price:
                              $ref: '#/components/schemas/MarketPrice'
                          required:
                          - mw
                          - price
                        maxItems: 3
                    required:
                    - slope
                    - priceCurveSegments
                  dispatchStatus:
                    $ref: '#/components/schemas/ESROnSuppDispatchStatusNullable'
                  selfScheduleMW:
                    $ref: '#/components/schemas/RealEnergyNullable'
            required:
            - hour
        offlineSuppOfferHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              suppOfferHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  offerPriceCurve:
                    type:
                    - object
                    - 'null'
                    description: The scheduled price curve for a given hour ending.
                    properties:
                      slope:
                        type: boolean
                        description: If slope is true then curve is interpreted as a piece-wise linear curve otherwise it is treated as a block curve. A curve with no segments is given the default slope value of false.
                      priceCurveSegments:
                        type: array
                        items:
                          type: object
                          properties:
                            mw:
                              $ref: '#/components/schemas/RealEnergy'
                            price:
                              $ref: '#/components/schemas/MarketPrice'
                          required:
                          - mw
                          - price
                        maxItems: 3
                    required:
                    - slope
                    - priceCurveSegments
                  dispatchStatus:
                    $ref: '#/components/schemas/ESROffSuppDispatchStatusNullable'
                  selfScheduleMW:
                    $ref: '#/components/schemas/RealEnergyNullable'
            required:
            - hour
        onlineShortTermReserveDispatchStatusHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              status:
                $ref: '#/components/schemas/OnlineSTRDispatchStatusNullable'
        offlineShortTermReserveOfferHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              shortTermReserveOfferHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  offerPriceCurve:
                    type:
                    - object
                    - 'null'
                    description: The scheduled price curve for a given hour ending.
                    properties:
                      slope:
                        type: boolean
                        description: If slope is true then curve is interpreted as a piece-wise linear curve otherwise it is treated as a block curve. A curve with no segments is given the default slope value of false.
                      priceCurveSegments:
                        type: array
                        items:
                          type: object
                          properties:
                            mw:
                              $ref: '#/components/schemas/RealEnergy'
                            price:
                              $ref: '#/components/schemas/MarketPrice'
                          required:
                          - mw
                          - price
                        maxItems: 3
                    required:
                    - slope
                    - priceCurveSegments
                  dispatchStatus:
                    $ref: '#/components/schemas/OfflineSTRDispatchStatusNullable'
            required:
            - hour
        fastRampResourceHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              fastRampResourceHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  fastRampResource:
                    type:
                    - boolean
                    - 'null'
                    example: true
                  fastRampNeutralZoneLowerLimit:
                    $ref: '#/components/schemas/PercentageNullable'
                  fastRampNeutralZoneUpperLimit:
                    $ref: '#/components/schemas/PercentageNullable'
            required:
            - hour
        energyStorageLevelsDaily:
          type: object
          properties:
            initialEnergyStorageLevel:
              $ref: '#/components/schemas/RealEnergySignedNullable'
        energyStorageLevelsHourly:
          type: array
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              energyStorageLevelsHourlyDetail:
                type:
                - object
                - 'null'
                properties:
                  minimumEnergyStorageLevel:
                    $ref: '#/components/schemas/RealEnergySignedNullable'
                  maximumEnergyStorageLevel:
                    $ref: '#/components/schemas/RealEnergySignedNullable'
                  emergencyMinimumEnergyStorageLevel:
                    $ref: '#/components/schemas/RealEnergySignedNullable'
                  emergencyMaximumEnergyStorageLevel:
                    $ref: '#/components/schemas/RealEnergySignedNullable'
                  energyStorageEfficiencyFactor:
                    $ref: '#/components/schemas/Percentage4DPNullable'
                additionalProperties: false
            required:
            - hour
      required:
      - offerType
      - scheduleType
      - market
    GenScheduleDefaultItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - genDefaultOffer
          example: genDefaultOffer
        market:
          $ref: '#/components/schemas/MarketType'
        defaultRampRates:
          type: object
          properties:
            rampRate:
              $ref: '#/components/schemas/MWRampRate'
            rampRateBidirectional:
              $ref: '#/components/schemas/MWRampRate'
            rampRateUp:
              $ref: '#/components/schemas/MWRampRate'
            rampRateDown:
              $ref: '#/components/schemas/MWRampRate'
          additionalProperties: false
        defaultStartupCosts:
          type: object
          properties:
            noLoadCost:
              $ref: '#/components/schemas/OpCostNullable'
            coldStartupCost:
              $ref: '#/components/schemas/OpCostNullable'
            intermediateStartupCost:
              $ref: '#/components/schemas/OpCostNullable'
            hotStartupCost:
              $ref: '#/components/schemas/OpCostNullable'
          additionalProperties: false
        defaultStatus:
          type: object
          properties:
            commitStatus:
              $ref: '#/components/schemas/GenCommitStatus'
            energyDispatchStatus:
              $ref: '#/components/schemas/GenEnergyDispatchStatus'
            regulationDispatchStatus:
              $ref: '#/components/schemas/GenRegDispatchStatus'
            spinningDispatchStatus:
              $ref: '#/components/schemas/GenSpinDispatchStatus'
            onlineSuppDispatchStatus:
              $ref: '#/components/schemas/GenOnSuppDispatchStatus'
            offlineSuppDispatchStatus:
              $ref: '#/components/schemas/GenOffSuppDispatchStatus'
            onlineShortTermReserveDispatchStatus:
              $ref: '#/components/schemas/OnlineSTRDispatchStatus'
            offlineShortTermReserveDispatchStatus:
              $ref: '#/components/schemas/OfflineSTRDispatchStatus'
            rampCapabilityDispatchStatus:
              $ref: '#/components/schemas/GenRampDispatchStatus'
          additionalProperties: false
        defaultLimits:
          type: object
          properties:
            economicLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
            emergencyLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
            regulationLimits:
              type: object
              properties:
                minMW:
                  $ref: '#/components/schemas/RealEnergy'
                maxMW:
                  $ref: '#/components/schemas/RealEnergy'
            offlineResourceLimit:
              $ref: '#/components/schemas/RealEnergy'
            offlineShortTermReserveLimit:
              $ref: '#/components/schemas/RealEnergy'
          additionalProperties: false
      required:
      - offerType
      - market
      additionalProperties: false
    EARRegDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - NotParticipating
      - null
    MarketType:
      description: Energy Market types.
      type: string
      enum:
      - day-ahead
      - real-time
    RealEnergyResultsSignedNullable:
      description: Used to represent real energy values in market outcomes. Historically simliar to 'MWType'.
      type:
      - number
      - 'null'
      format: realenergy
      multipleOf: 0.1
      minimum: 0.0
      maximum: 9.99999999E7
      example: 120001.7
    DRR2RampDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - NotParticipating
      - null
    EAROnSuppDispatchStatus:
      type: string
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
    GenRTOfferOverridesItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - genScheduleOfferOverrides
          example: genScheduleOfferOverrides
        effectiveOfferOverrides:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: object
            properties:
              checkHour:
                $ref: '#/components/schemas/CheckHourLabel'
              runtimeOverrides:
                type:
                - object
                - 'null'
                properties:
                  notificationTime:
                    $ref: '#/components/schemas/NotificationTime'
                  runtimeOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  runtimeOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - notificationTime
                - runtimeOverrideReason
              unitLimitOverrides:
                type:
                - object
                - 'null'
                properties:
                  economicLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                    - maxMW
                  emergencyLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                    - maxMW
                  regulationLimits:
                    type: object
                    properties:
                      minMW:
                        $ref: '#/components/schemas/RealEnergy'
                      maxMW:
                        $ref: '#/components/schemas/RealEnergy'
                    required:
                    - minMW
                    - maxMW
                  unitLimitOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  unitLimitOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - economicLimits
                - emergencyLimits
                - regulationLimits
                - unitLimitOverrideReason
              offlineRespOverrides:
                type:
                - object
                - 'null'
                properties:
                  offlineResourceLimit:
                    $ref: '#/components/schemas/RealEnergy'
                  offlineShortTermReserveLimit:
                    $ref: '#/components/schemas/RealEnergy'
                  offlineRespOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  offlineRespOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - offlineResourceLimit
                - offlineRespOverrideReason
                - offlineShortTermReserveLimit
              rampRateOverrides:
                type:
                - object
                - 'null'
                properties:
                  rampRateUp:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateDown:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateBidirectional:
                    $ref: '#/components/schemas/MWRampRate'
                  rampRateOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  rampRateOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - rampRateUp
                - rampRateDown
                - rampRateBidirectional
                - rampRateOverrideReason
              selfScheduleOverrides:
                type:
                - object
                - 'null'
                properties:
                  energySelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  regulationSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  spinningSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  onlineSuppSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  offlineSuppSelfScheduleMW:
                    $ref: '#/components/schemas/RealEnergy'
                  selfScheduleOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  selfScheduleOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - energySelfScheduleMW
                - regulationSelfScheduleMW
                - spinningSelfScheduleMW
                - onlineSuppSelfScheduleMW
                - offlineSuppSelfScheduleMW
                - selfScheduleOverrideReason
              dispatchStatusOverrides:
                type:
                - object
                - 'null'
                properties:
                  energyDispatchStatus:
                    $ref: '#/components/schemas/GenEnergyDispatchStatus'
                  regulationDispatchStatus:
                    $ref: '#/components/schemas/GenRegDispatchStatus'
                  spinningReserveDispatchStatus:
                    $ref: '#/components/schemas/GenSpinDispatchStatus'
                  onlineSuppReserveDispatchStatus:
                    $ref: '#/components/schemas/GenOnSuppDispatchStatus'
                  offlineSuppReserveDispatchStatus:
                    $ref: '#/components/schemas/GenOffSuppDispatchStatus'
                  onlineShortTermReserveDispatchStatus:
                    $ref: '#/components/schemas/OnlineSTRDispatchStatus'
                  offlineShortTermReserveDispatchStatus:
                    $ref: '#/components/schemas/OfflineSTRDispatchStatus'
                  rampCapabilityDispatchStatus:
                    $ref: '#/components/schemas/GenRampDispatchStatus'
                  dispatchStatusOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  dispatchStatusOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - energyDispatchStatus
                - regulationDispatchStatus
                - spinningReserveDispatchStatus
                - onlineSuppReserveDispatchStatus
                - offlineSuppReserveDispatchStatus
                - rampCapabilityDispatchStatus
                - dispatchStatusOverrideReason
                - onlineShortTermReserveDispatchStatus
                - offlineShortTermReserveDispatchStatus
              commitStatusOverrides:
                type:
                - object
                - 'null'
                properties:
                  commitStatus:
                    $ref: '#/components/schemas/GenCommitStatus'
                  commitStatusOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  commitStatusOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - commitStatus
                - commitStatusOverrideReason
              offControlOverrides:
                type:
                - object
                - 'null'
                properties:
                  offControlFlag:
                    type: boolean
                    example: true
                  eeeFlag:
                    description: Specifies the Energy Deployment Charge Exemption (EEE) override.  May be set true only when OffControlFlag = true.
                    type: boolean
                    example: true
                  offControlOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  offControlOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - offControlFlag
                - eeeFlag
                - offControlOverrideReason
              fastRampResourceOverrides:
                type:
                - object
                - 'null'
                properties:
                  fastRampResource:
                    type: boolean
                    example: true
                  fastRampOverrideReason:
                    $ref: '#/components/schemas/RTOverrideReason'
                  fastRampOverrideText:
                    $ref: '#/components/schemas/RTOverrideText'
                required:
                - fastRampResource
                - fastRampOverrideReason
      required:
      - offerType
      - effectiveOfferOverrides
    GenSpinDispatchStatus:
      type: string
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
    DRR1OnSuppDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - SelfSchedule
      - NotQualified
      - NotParticipating
      - Emergency
      - null
    EARRampDispatchStatusNullable:
      type:
      - string
      - 'null'
      enum:
      - Economic
      - NotParticipating
      - null
    ESRRampRateCurveItem:
      type: object
      properties:
        offerType:
          type: string
          enum:
          - esrRampCurve
          example: esrRampCurve
        rampRateCurves:
          description: Hourly ramp rate curves. Including a null collection will act as a data driven delete.
          type:
          - array
          - 'null'
          minItems: 0
          maxItems: 24
          items:
            type: object
            properties:
              hour:
                $ref: '#/components/schemas/HourLabel'
              rampRateCurve:
                description: Ramp Rate Curve segments. Including a null collection will act as a data driven delete.
                type:
                - array
                - 'null'
                minItems: 0
                maxItems: 10
                items:
                  type: object
                  description: Set of ramp rates for a given MW level. All of the ramp rates must be included.
                  properties:
                    mw:
                      $ref: '#/components/schemas/RealEnergy'
                    chargeRampRate:
                      $ref: '#/components/schemas/MWRampRate'
                    dischargeRampRate:
                      $ref: '#/components/schemas/MWRampRate'
                  required:
                  - mw
                  - chargeRampRate
                  - dischargeRampRate
            required:
            - hour
            - rampRateCurve
            additionalProperties: false
      required:
      - offerType
[...]
