openapi: 3.2.0
info:
  title: MISO Information Interface Weather API
  version: v1
tags:
- name: Weather
paths:
  /v{version}/Weather:
    get:
      servers:
      - url: https://markets.midwestiso.org/wii/api
        description: Live server
      - url: https://cce.midwestiso.org/wii/api
        description: Test server
      tags:
      - Weather
      summary: Obtain weather data for all stations
      description: GET /v1/Weather
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWeatherResponse'
              examples:
                Test Full:
                  value:
                    url: https://markets.midwestiso.org/wii/api/v1/Weather
                    generatedAt: '2024-06-07T15:41:29Z'
                    type: FeatureCollection
                    features:
                    - station: PSU
                      type: Feature
                      geometry:
                      - type: Point
                        coordinates:
                        - -79.9148
                        - 17.0591
                      properties:
                        periods:
                        - number: 1
                          startTime: '2024-06-07T10:00:00Z'
                          isObserved: 1
                          temperature:
                            value: 10
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 2
                          startTime: '2024-06-07T11:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 72
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 3
                          startTime: '2024-06-07T12:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 66
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 4
                          startTime: '2024-06-07T13:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 32
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 5
                          startTime: '2024-06-07T14:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 65
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 6
                          startTime: '2024-06-07T15:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 29
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 7
                          startTime: '2024-06-07T16:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 63
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 8
                          startTime: '2024-06-07T17:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 53
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 9
                          startTime: '2024-06-07T18:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 85
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 10
                          startTime: '2024-06-07T19:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 70
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 11
                          startTime: '2024-06-07T20:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 78
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 12
                          startTime: '2024-06-07T21:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 23
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 13
                          startTime: '2024-06-07T22:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 64
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 14
                          startTime: '2024-06-07T23:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 79
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-07T09:40:12Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-07T21:22:10Z'
                            qualityCheck: Pass
                        - number: 15
                          startTime: '2024-06-08T00:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 44
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 16
                          startTime: '2024-06-08T01:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 70
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 17
                          startTime: '2024-06-08T02:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 48
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 18
                          startTime: '2024-06-08T03:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 60
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 19
                          startTime: '2024-06-08T04:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 31
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 20
                          startTime: '2024-06-08T05:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 65
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 21
                          startTime: '2024-06-08T06:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 69
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 22
                          startTime: '2024-06-08T07:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 30
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 23
                          startTime: '2024-06-08T08:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 32
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 24
                          startTime: '2024-06-08T09:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 17
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 25
                          startTime: '2024-06-08T10:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 76
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 26
                          startTime: '2024-06-08T11:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 47
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 27
                          startTime: '2024-06-08T12:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 51
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 28
                          startTime: '2024-06-08T13:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 54
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 29
                          startTime: '2024-06-08T14:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 86
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 30
                          startTime: '2024-06-08T15:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 64
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 31
                          startTime: '2024-06-08T16:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 45
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 32
                          startTime: '2024-06-08T17:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 40
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 33
                          startTime: '2024-06-08T18:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 95
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 34
                          startTime: '2024-06-08T19:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 25
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 35
                          startTime: '2024-06-08T20:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 80
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 36
                          startTime: '2024-06-08T21:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 3
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 37
                          startTime: '2024-06-08T22:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 96
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 38
                          startTime: '2024-06-08T23:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 65
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-08T06:49:34Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-08T22:16:12Z'
                            qualityCheck: Pass
                        - number: 39
                          startTime: '2024-06-09T00:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 54
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 40
                          startTime: '2024-06-09T01:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 74
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 41
                          startTime: '2024-06-09T02:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 40
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 42
                          startTime: '2024-06-09T03:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 53
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 43
                          startTime: '2024-06-09T04:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 79
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 44
                          startTime: '2024-06-09T05:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 13
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 45
                          startTime: '2024-06-09T06:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 11
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 46
                          startTime: '2024-06-09T07:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 10
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 47
                          startTime: '2024-06-09T08:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 3
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 48
                          startTime: '2024-06-09T09:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 60
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 49
                          startTime: '2024-06-09T10:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 49
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 50
                          startTime: '2024-06-09T11:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 84
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 51
                          startTime: '2024-06-09T12:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 69
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 52
                          startTime: '2024-06-09T13:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 3
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 53
                          startTime: '2024-06-09T14:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 37
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 54
                          startTime: '2024-06-09T15:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 37
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 55
                          startTime: '2024-06-09T16:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 84
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 56
                          startTime: '2024-06-09T17:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 45
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 57
                          startTime: '2024-06-09T18:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 18
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 58
                          startTime: '2024-06-09T19:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 66
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 59
                          startTime: '2024-06-09T20:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 65
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 60
                          startTime: '2024-06-09T21:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 13
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 61
                          startTime: '2024-06-09T22:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 59
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 62
                          startTime: '2024-06-09T23:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 38
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-09T06:45:48Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-09T23:09:34Z'
                            qualityCheck: Pass
                        - number: 63
                          startTime: '2024-06-10T00:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 50
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 64
                          startTime: '2024-06-10T01:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 14
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 65
                          startTime: '2024-06-10T02:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 0
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 66
                          startTime: '2024-06-10T03:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 93
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 67
                          startTime: '2024-06-10T04:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 62
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 68
                          startTime: '2024-06-10T05:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 16
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 69
                          startTime: '2024-06-10T06:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 11
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 70
                          startTime: '2024-06-10T07:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 13
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 71
                          startTime: '2024-06-10T08:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 76
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 72
                          startTime: '2024-06-10T09:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 3
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 73
                          startTime: '2024-06-10T10:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 63
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 74
                          startTime: '2024-06-10T11:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 13
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 75
                          startTime: '2024-06-10T12:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 44
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 76
                          startTime: '2024-06-10T13:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 53
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 77
                          startTime: '2024-06-10T14:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 32
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 78
                          startTime: '2024-06-10T15:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 96
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 79
                          startTime: '2024-06-10T16:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 43
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 80
                          startTime: '2024-06-10T17:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 25
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 81
                          startTime: '2024-06-10T18:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 63
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 82
                          startTime: '2024-06-10T19:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 19
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 83
                          startTime: '2024-06-10T20:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 12
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 84
                          startTime: '2024-06-10T21:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 75
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 85
                          startTime: '2024-06-10T22:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 10
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 86
                          startTime: '2024-06-10T23:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 80
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-10T06:27:29Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-10T21:23:38Z'
                            qualityCheck: Pass
                        - number: 87
                          startTime: '2024-06-11T00:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 50
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 88
                          startTime: '2024-06-11T01:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 60
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 89
                          startTime: '2024-06-11T02:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 43
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 90
                          startTime: '2024-06-11T03:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 73
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 91
                          startTime: '2024-06-11T04:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 18
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 92
                          startTime: '2024-06-11T05:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 90
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 93
                          startTime: '2024-06-11T06:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 75
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 94
                          startTime: '2024-06-11T07:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 12
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 95
                          startTime: '2024-06-11T08:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 58
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 96
                          startTime: '2024-06-11T09:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 58
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 97
                          startTime: '2024-06-11T10:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 89
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 98
                          startTime: '2024-06-11T11:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 35
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 99
                          startTime: '2024-06-11T12:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 4
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 100
                          startTime: '2024-06-11T13:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 37
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 101
                          startTime: '2024-06-11T14:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 91
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 102
                          startTime: '2024-06-11T15:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 0
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 103
                          startTime: '2024-06-11T16:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 54
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 104
                          startTime: '2024-06-11T17:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 3
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 105
                          startTime: '2024-06-11T18:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 89
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 106
                          startTime: '2024-06-11T19:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 90
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 107
                          startTime: '2024-06-11T20:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 9
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 108
                          startTime: '2024-06-11T21:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 44
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 109
                          startTime: '2024-06-11T22:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 92
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 110
                          startTime: '2024-06-11T23:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 6
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-11T08:49:43Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-11T23:13:45Z'
                            qualityCheck: Pass
                        - number: 111
                          startTime: '2024-06-12T00:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 13
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 112
                          startTime: '2024-06-12T01:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 57
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 113
                          startTime: '2024-06-12T02:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 95
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 114
                          startTime: '2024-06-12T03:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 71
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 115
                          startTime: '2024-06-12T04:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 56
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 116
                          startTime: '2024-06-12T05:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 54
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 117
                          startTime: '2024-06-12T06:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 95
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 118
                          startTime: '2024-06-12T07:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 41
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 119
                          startTime: '2024-06-12T08:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 67
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 120
                          startTime: '2024-06-12T09:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 13
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 121
                          startTime: '2024-06-12T10:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 42
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 122
                          startTime: '2024-06-12T11:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 78
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 123
                          startTime: '2024-06-12T12:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 93
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 124
                          startTime: '2024-06-12T13:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 85
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 125
                          startTime: '2024-06-12T14:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 17
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 126
                          startTime: '2024-06-12T15:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 30
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 127
                          startTime: '2024-06-12T16:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 57
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 128
                          startTime: '2024-06-12T17:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 42
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 129
                          startTime: '2024-06-12T18:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 11
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 130
                          startTime: '2024-06-12T19:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 75
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 131
                          startTime: '2024-06-12T20:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 75
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 132
                          startTime: '2024-06-12T21:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 17
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 133
                          startTime: '2024-06-12T22:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 68
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 134
                          startTime: '2024-06-12T23:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 91
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-12T10:10:09Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-12T19:29:50Z'
                            qualityCheck: Pass
                        - number: 135
                          startTime: '2024-06-13T00:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 17
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 136
                          startTime: '2024-06-13T01:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 22
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 137
                          startTime: '2024-06-13T02:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 17
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 138
                          startTime: '2024-06-13T03:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 28
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 139
                          startTime: '2024-06-13T04:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 37
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 140
                          startTime: '2024-06-13T05:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 7
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 141
                          startTime: '2024-06-13T06:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 94
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 142
                          startTime: '2024-06-13T07:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 36
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 143
                          startTime: '2024-06-13T08:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 74
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 144
                          startTime: '2024-06-13T09:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 21
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 145
                          startTime: '2024-06-13T10:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 32
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 146
                          startTime: '2024-06-13T11:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 79
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 147
                          startTime: '2024-06-13T12:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 1
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 148
                          startTime: '2024-06-13T13:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 9
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 149
                          startTime: '2024-06-13T14:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 20
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 150
                          startTime: '2024-06-13T15:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 13
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 151
                          startTime: '2024-06-13T16:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 55
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 152
                          startTime: '2024-06-13T17:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 71
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 153
                          startTime: '2024-06-13T18:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 10
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 154
                          startTime: '2024-06-13T19:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 40
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 155
                          startTime: '2024-06-13T20:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 73
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 156
                          startTime: '2024-06-13T21:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 8
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 157
                          startTime: '2024-06-13T22:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 32
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 158
                          startTime: '2024-06-13T23:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 38
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-13T09:03:56Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-13T23:48:49Z'
                            qualityCheck: Pass
                        - number: 159
                          startTime: '2024-06-14T00:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 71
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 160
                          startTime: '2024-06-14T01:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 48
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 161
                          startTime: '2024-06-14T02:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 87
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 162
                          startTime: '2024-06-14T03:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 41
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 163
                          startTime: '2024-06-14T04:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 2
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 164
                          startTime: '2024-06-14T05:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 27
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 165
                          startTime: '2024-06-14T06:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 4
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 166
                          startTime: '2024-06-14T07:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 91
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 167
                          startTime: '2024-06-14T08:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 46
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 168
                          startTime: '2024-06-14T09:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 95
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 169
                          startTime: '2024-06-14T10:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 99
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 170
                          startTime: '2024-06-14T11:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 20
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 171
                          startTime: '2024-06-14T12:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 70
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 172
                          startTime: '2024-06-14T13:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 76
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 173
                          startTime: '2024-06-14T14:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 57
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 174
                          startTime: '2024-06-14T15:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 2
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 175
                          startTime: '2024-06-14T16:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 95
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 176
                          startTime: '2024-06-14T17:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 38
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 177
                          startTime: '2024-06-14T18:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 62
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 178
                          startTime: '2024-06-14T19:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 42
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 179
                          startTime: '2024-06-14T20:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 0
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 180
                          startTime: '2024-06-14T21:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 81
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 181
                          startTime: '2024-06-14T22:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 51
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 182
                          startTime: '2024-06-14T23:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 9
                            qualityCheck: Pass
                          sunrise:
                            value: '2024-06-14T06:23:58Z'
                            qualityCheck: Pass
                          sunset:
                            value: '2024-06-14T18:41:27Z'
                            qualityCheck: Pass
                        - number: 183
                          startTime: '2024-06-15T00:00:00Z'
                          isObserved: 0
                          temperature:
                            value: 17
                            qualityCheck: Pass
                          sunrise:
[...]
