openapi: 3.2.0
info:
  title: MISO Public Regional Directional Transfer API
  version: '2025-12-12'
  description: 'Real-time market and operations data displays from MISO, served from one host under /api/. Merged from two separately derived documents — Operations Displays and Markets Displays — which described the same API: same server, same (absent) authentication, and the same documentation table. Reported by a reader on 2026-08-04.'
  x-provenance:
    harvestedBy: API Evangelist
    fetchDate: '2026-07-27'
    note: 'MISO publishes no OpenAPI for its Public API. This document was assembled from MISO''s own published artifacts only: every path and every operation summary is taken verbatim from the endpoint table MISO publishes at https://public-api.misoenergy.org/ (section "Operations Displays"), and every response schema and example is derived from the live JSON MISO returned to an anonymous GET on 2026-07-27. No host, path, parameter, field name or value was invented. Examples are the real payloads with long arrays truncated to two elements. No query parameters are documented by MISO for these endpoints and none are asserted here.'
    sources:
    - https://www.misoenergy.org/markets-and-operations/RTDataAPIs/ (HTTP 200)
    - https://public-api.misoenergy.org/ (HTTP 200, endpoint table)
    - Every path in this document individually fetched anonymously; all returned HTTP 200 application/json on 2026-07-27.
servers:
- url: https://public-api.misoenergy.org
  description: MISO Public API — anonymous, no key, no account.
tags:
- name: RegionalDirectionalTransfer
paths:
  /api/RegionalDirectionalTransfer:
    get:
      operationId: getRegionalDirectionalTransfer
      summary: Regional Directional Transfer
      description: Source data behind the MISO public "Regional Directional Transfer" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.
      responses:
        '200':
          description: Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RefId:
                    type: string
                  Interval:
                    type: array
                    items:
                      type: object
                      properties:
                        instantEST:
                          type: string
                        NORTH_SOUTH_LIMIT:
                          type: string
                        SOUTH_NORTH_LIMIT:
                          type: string
                        RAW_MW:
                          type: string
                        UDSFLOW_MW:
                          type: string
              example:
                RefId: 27-Jul-2026 - Interval 08:15 EST
                Interval:
                - instantEST: 2026-07-26 08:15:00 AM
                  NORTH_SOUTH_LIMIT: '-3000'
                  SOUTH_NORTH_LIMIT: '2500'
                  RAW_MW: '2594'
                  UDSFLOW_MW: '2200'
                - instantEST: 2026-07-26 08:20:00 AM
                  NORTH_SOUTH_LIMIT: '-3000'
                  SOUTH_NORTH_LIMIT: '2500'
                  RAW_MW: '2527'
                  UDSFLOW_MW: '2200'
      tags:
      - RegionalDirectionalTransfer
