openapi: 3.2.0
info:
  title: MISO Public Ace API
  version: '2025-12-12'
  description: 'Real-time market and operations data displays from MISO, served from one host under /api/. Merged from two separately derived documents — Operations Displays and Markets Displays — which described the same API: same server, same (absent) authentication, and the same documentation table. Reported by a reader on 2026-08-04.'
  x-provenance:
    harvestedBy: API Evangelist
    fetchDate: '2026-07-27'
    note: 'MISO publishes no OpenAPI for its Public API. This document was assembled from MISO''s own published artifacts only: every path and every operation summary is taken verbatim from the endpoint table MISO publishes at https://public-api.misoenergy.org/ (section "Operations Displays"), and every response schema and example is derived from the live JSON MISO returned to an anonymous GET on 2026-07-27. No host, path, parameter, field name or value was invented. Examples are the real payloads with long arrays truncated to two elements. No query parameters are documented by MISO for these endpoints and none are asserted here.'
    sources:
    - https://www.misoenergy.org/markets-and-operations/RTDataAPIs/ (HTTP 200)
    - https://public-api.misoenergy.org/ (HTTP 200, endpoint table)
    - Every path in this document individually fetched anonymously; all returned HTTP 200 application/json on 2026-07-27.
servers:
- url: https://public-api.misoenergy.org
  description: MISO Public API — anonymous, no key, no account.
tags:
- name: Ace
paths:
  /api/Ace:
    get:
      operationId: getAce
      summary: Area Control Error (ACE)
      description: Source data behind the MISO public "Area Control Error (ACE)" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.
      responses:
        '200':
          description: Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.
          content:
            application/json:
              schema:
                type: object
                properties:
                  MktDay:
                    type: string
                  RefId:
                    type: string
                  ACE:
                    type: array
                    items:
                      type: object
                      properties:
                        instantEST:
                          type: string
                        value:
                          type: string
              example:
                MktDay: 07-27-2026
                RefId: 27-Jul-2026 - Interval 08:15:00 EST
                ACE:
                - instantEST: 2026-07-27 6:15:30 AM
                  value: '-35.62'
                - instantEST: 2026-07-27 6:16:00 AM
                  value: '307.35'
      tags:
      - Ace
