{
  "openapi": "3.0.3",
  "info": {
    "title": "MISO Public API",
    "version": "2025-12-12",
    "description": "Real-time market and operations data displays from MISO, served from one host under /api/. Merged from two separately derived documents \u2014 Operations Displays and Markets Displays \u2014 which described the same API: same server, same (absent) authentication, and the same documentation table. Reported by a reader on 2026-08-04.",
    "x-provenance": {
      "harvestedBy": "API Evangelist",
      "fetchDate": "2026-07-27",
      "note": "MISO publishes no OpenAPI for its Public API. This document was assembled from MISO's own published artifacts only: every path and every operation summary is taken verbatim from the endpoint table MISO publishes at https://public-api.misoenergy.org/ (section \"Operations Displays\"), and every response schema and example is derived from the live JSON MISO returned to an anonymous GET on 2026-07-27. No host, path, parameter, field name or value was invented. Examples are the real payloads with long arrays truncated to two elements. No query parameters are documented by MISO for these endpoints and none are asserted here.",
      "sources": [
        "https://www.misoenergy.org/markets-and-operations/RTDataAPIs/ (HTTP 200)",
        "https://public-api.misoenergy.org/ (HTTP 200, endpoint table)",
        "Every path in this document individually fetched anonymously; all returned HTTP 200 application/json on 2026-07-27."
      ]
    }
  },
  "servers": [
    {
      "url": "https://public-api.misoenergy.org",
      "description": "MISO Public API \u2014 anonymous, no key, no account."
    }
  ],
  "paths": {
    "/api/Ace": {
      "get": {
        "operationId": "getAce",
        "summary": "Area Control Error (ACE)",
        "description": "Source data behind the MISO public \"Area Control Error (ACE)\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "MktDay": {
                      "type": "string"
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "ACE": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "instantEST": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "MktDay": "07-27-2026",
                  "RefId": "27-Jul-2026 - Interval 08:15:00 EST",
                  "ACE": [
                    {
                      "instantEST": "2026-07-27 6:15:30 AM",
                      "value": "-35.62"
                    },
                    {
                      "instantEST": "2026-07-27 6:16:00 AM",
                      "value": "307.35"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/CsatNextDayShortTermReserveRequirement": {
      "get": {
        "operationId": "getCsatNextDayShortTermReserveRequirement",
        "summary": "CSAT Next Day Short Term Reserve Requirement",
        "description": "Source data behind the MISO public \"CSAT Next Day Short Term Reserve Requirement\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "forecastPeakHourEst": {
                        "type": "string"
                      },
                      "region": {
                        "type": "string"
                      },
                      "forecastCreatedTime": {
                        "type": "string"
                      },
                      "strReq": {
                        "type": "integer"
                      },
                      "strOverwrite": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "forecastPeakHourEst": "2026-07-28T16:00:00",
                    "region": "North/Central",
                    "forecastCreatedTime": "2026-07-27T07:05:06",
                    "strReq": 0,
                    "strOverwrite": 0
                  },
                  {
                    "forecastPeakHourEst": "2026-07-28T16:00:00",
                    "region": "Systemwide",
                    "forecastCreatedTime": "2026-07-27T07:05:06",
                    "strReq": 0,
                    "strOverwrite": 0
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/CsatSupplyDemand": {
      "get": {
        "operationId": "getCsatSupplyDemand",
        "summary": "CSAT Supply and Demand",
        "description": "Source data behind the MISO public \"CSAT Supply and Demand\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "timeEst": {
                        "type": "string"
                      },
                      "demand": {
                        "type": "integer"
                      },
                      "committedCapacity": {
                        "type": "integer"
                      },
                      "demandForecast": {
                        "nullable": true
                      },
                      "committedCapacityForecast": {
                        "nullable": true
                      },
                      "availableCapacity": {
                        "nullable": true
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "timeEst": "2026-07-27T00:00:00",
                    "demand": 94262,
                    "committedCapacity": 102993,
                    "demandForecast": null,
                    "committedCapacityForecast": null,
                    "availableCapacity": null
                  },
                  {
                    "id": 2,
                    "timeEst": "2026-07-27T00:15:00",
                    "demand": 92916,
                    "committedCapacity": 102106,
                    "demandForecast": null,
                    "committedCapacityForecast": null,
                    "availableCapacity": null
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/FuelMix": {
      "get": {
        "operationId": "getFuelMix",
        "summary": "Fuel Mix \u2014 FuelMix",
        "description": "Source data behind the MISO public \"Fuel Mix\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "TotalMW": {
                      "type": "string"
                    },
                    "Fuel": {
                      "type": "object",
                      "properties": {
                        "Type": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "INTERVALEST": {
                                "type": "string"
                              },
                              "CATEGORY": {
                                "type": "string"
                              },
                              "ACT": {
                                "type": "string"
                              },
                              "FUEL_CATEGORY": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:10 EST",
                  "TotalMW": "96122",
                  "Fuel": {
                    "Type": [
                      {
                        "INTERVALEST": "2026-07-27 8:10:00 AM",
                        "CATEGORY": "Coal",
                        "ACT": "29517",
                        "FUEL_CATEGORY": "Coal  (29,517 MW)"
                      },
                      {
                        "INTERVALEST": "2026-07-27 8:10:00 AM",
                        "CATEGORY": "Natural Gas",
                        "ACT": "30223",
                        "FUEL_CATEGORY": "Natural Gas  (30,223 MW)"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/FuelMix/Today": {
      "get": {
        "operationId": "getFuelMixToday",
        "summary": "Fuel Mix \u2014 Today",
        "description": "Source data behind the MISO public \"Fuel Mix\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "TotalMW": {
                      "type": "string"
                    },
                    "Fuel": {
                      "type": "object",
                      "properties": {
                        "Type": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "INTERVALEST": {
                                "type": "string"
                              },
                              "CATEGORY": {
                                "type": "string"
                              },
                              "ACT": {
                                "type": "string"
                              },
                              "FUEL_CATEGORY": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:10 EST",
                  "TotalMW": "0",
                  "Fuel": {
                    "Type": [
                      {
                        "INTERVALEST": "2026-07-27 12:00:00 AM",
                        "CATEGORY": "Battery Storage",
                        "ACT": "39",
                        "FUEL_CATEGORY": "Battery Storage  (39 MW)"
                      },
                      {
                        "INTERVALEST": "2026-07-27 12:00:00 AM",
                        "CATEGORY": "Coal",
                        "ACT": "33729",
                        "FUEL_CATEGORY": "Coal  (33,729 MW)"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/FuelMix/Yesterday": {
      "get": {
        "operationId": "getFuelMixYesterday",
        "summary": "Fuel Mix \u2014 Yesterday",
        "description": "Source data behind the MISO public \"Fuel Mix\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "TotalMW": {
                      "type": "string"
                    },
                    "Fuel": {
                      "type": "object",
                      "properties": {
                        "Type": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "INTERVALEST": {
                                "type": "string"
                              },
                              "CATEGORY": {
                                "type": "string"
                              },
                              "ACT": {
                                "type": "string"
                              },
                              "FUEL_CATEGORY": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:10 EST",
                  "TotalMW": "0",
                  "Fuel": {
                    "Type": [
                      {
                        "INTERVALEST": "2026-07-26 12:00:00 AM",
                        "CATEGORY": "Battery Storage",
                        "ACT": "-234",
                        "FUEL_CATEGORY": "Battery Storage  (-234 MW)"
                      },
                      {
                        "INTERVALEST": "2026-07-26 12:00:00 AM",
                        "CATEGORY": "Coal",
                        "ACT": "29335",
                        "FUEL_CATEGORY": "Coal  (29,335 MW)"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/GenerationOutages/GetGenerationOutagesPlusMinusFiveDays": {
      "get": {
        "operationId": "getGenerationOutagesGetGenerationOutagesPlusMinusFiveDays",
        "summary": "Generation outages Plus or Minus Five Days",
        "description": "Source data behind the MISO public \"Generation outages Plus or Minus Five Days\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Days": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "OutageDate": {
                            "type": "string"
                          },
                          "OutageMonthDay": {
                            "type": "string"
                          },
                          "Unplanned": {
                            "type": "integer"
                          },
                          "Planned": {
                            "type": "integer"
                          },
                          "Forced": {
                            "type": "integer"
                          },
                          "Derated": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Total Outage Megawatts: 34,719",
                  "Days": [
                    {
                      "OutageDate": "2026-07-22 12:00:00 AM",
                      "OutageMonthDay": "Jul-22",
                      "Unplanned": 8106,
                      "Planned": 5555,
                      "Forced": 13603,
                      "Derated": 11227
                    },
                    {
                      "OutageDate": "2026-07-23 12:00:00 AM",
                      "OutageMonthDay": "Jul-23",
                      "Unplanned": 9858,
                      "Planned": 6353,
                      "Forced": 13092,
                      "Derated": 11834
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/Interchange/GetNai": {
      "get": {
        "operationId": "getInterchangeGetNai",
        "summary": "Tie Flow / Net Actual Interchange (NAI) \u2014 GetNai",
        "description": "Source data behind the MISO public \"Tie Flow / Net Actual Interchange (NAI)\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Date": {
                      "type": "string"
                    },
                    "Actual": {
                      "type": "object",
                      "properties": {
                        "HourandMin": {
                          "type": "string"
                        },
                        "TieFlow": {
                          "type": "object",
                          "properties": {
                            "Name": {
                              "type": "string"
                            },
                            "Value": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "Date": "27-Jul-2026 - Interval 08:10 EST",
                  "Actual": {
                    "HourandMin": "08:10",
                    "TieFlow": {
                      "Name": "MISO",
                      "Value": "-5495.34"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Interchange/GetNai/FiveMinute": {
      "get": {
        "operationId": "getInterchangeGetNaiFiveMinute",
        "summary": "Tie Flow / Net Actual Interchange (NAI) \u2014 FiveMinute",
        "description": "Source data behind the MISO public \"Tie Flow / Net Actual Interchange (NAI)\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Time": {
                        "type": "string"
                      },
                      "Value": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "Time": "2026-07-26 8:15:00 AM",
                    "Value": "-5573.87"
                  },
                  {
                    "Time": "2026-07-26 8:20:00 AM",
                    "Value": "-5321.07"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/Interchange/GetNai/Imports": {
      "get": {
        "operationId": "getInterchangeGetNaiImports",
        "summary": "Net Actual Interchange (Imports)",
        "description": "Source data behind the MISO public \"Net Actual Interchange (Imports)\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Time": {
                        "type": "string"
                      },
                      "Value": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "Time": "2026-07-26 1:15:00 PM",
                    "Value": "-5572.00"
                  },
                  {
                    "Time": "2026-07-26 1:20:00 PM",
                    "Value": "-5319.00"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/Interchange/GetNsi": {
      "get": {
        "operationId": "getInterchangeGetNsi",
        "summary": "Net Scheduled Interchange \u2014 GetNsi",
        "description": "Source data behind the MISO public \"Net Scheduled Interchange\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "AECI": {
                            "type": "string"
                          },
                          "LGEE": {
                            "type": "string"
                          },
                          "MHEB": {
                            "type": "string"
                          },
                          "MISO": {
                            "type": "string"
                          },
                          "ONT": {
                            "type": "string"
                          },
                          "PJM": {
                            "type": "string"
                          },
                          "SOCO": {
                            "type": "string"
                          },
                          "SPA": {
                            "type": "string"
                          },
                          "SWPP": {
                            "type": "string"
                          },
                          "TVA": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "timestamp": "2026-07-27 08:08:00",
                      "AECI": "-164",
                      "LGEE": "179",
                      "MHEB": "-2061",
                      "MISO": "-5425",
                      "ONT": "-207",
                      "PJM": "-3151",
                      "SOCO": "138",
                      "SPA": "-6",
                      "SWPP": "-78",
                      "TVA": "16"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:08 EST",
                  "MktDay": null
                }
              }
            }
          }
        }
      }
    },
    "/api/Interchange/GetNsi/FiveMinute": {
      "get": {
        "operationId": "getInterchangeGetNsiFiveMinute",
        "summary": "Net Scheduled Interchange \u2014 FiveMinute",
        "description": "Source data behind the MISO public \"Net Scheduled Interchange\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "AECI": {
                            "type": "string"
                          },
                          "LGEE": {
                            "type": "string"
                          },
                          "MHEB": {
                            "type": "string"
                          },
                          "MISO": {
                            "type": "string"
                          },
                          "ONT": {
                            "type": "string"
                          },
                          "PJM": {
                            "type": "string"
                          },
                          "SOCO": {
                            "type": "string"
                          },
                          "SPA": {
                            "type": "string"
                          },
                          "SWPP": {
                            "type": "string"
                          },
                          "TVA": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "timestamp": "2026-07-25 19:05:00",
                      "AECI": "220",
                      "LGEE": "-75",
                      "MHEB": "-1737",
                      "MISO": "-6906",
                      "ONT": "-1540",
                      "PJM": "-3540",
                      "SOCO": "172",
                      "SPA": "-93",
                      "SWPP": "-196",
                      "TVA": "-370"
                    },
                    {
                      "timestamp": "2026-07-25 19:10:00",
                      "AECI": "220",
                      "LGEE": "-75",
                      "MHEB": "-1737",
                      "MISO": "-6906",
                      "ONT": "-1540",
                      "PJM": "-3540",
                      "SOCO": "172",
                      "SPA": "-93",
                      "SWPP": "-196",
                      "TVA": "-370"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:08 EST",
                  "MktDay": null
                }
              }
            }
          }
        }
      }
    },
    "/api/Interchange/GetNsi/MISO": {
      "get": {
        "operationId": "getInterchangeGetNsiMISO",
        "summary": "Net Scheduled Interchange (MISO) \u2014 MISO",
        "description": "Source data behind the MISO public \"Net Scheduled Interchange (MISO)\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "NSI": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "timestamp": "2026-07-27 08:13:00",
                      "NSI": "-5405"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:13 EST",
                  "MktDay": null
                }
              }
            }
          }
        }
      }
    },
    "/api/Interchange/GetNsi/MISOFiveMinute": {
      "get": {
        "operationId": "getInterchangeGetNsiMISOFiveMinute",
        "summary": "Net Scheduled Interchange (MISO) \u2014 MISOFiveMinute",
        "description": "Source data behind the MISO public \"Net Scheduled Interchange (MISO)\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "NSI": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "timestamp": "2026-07-26 08:20:00",
                      "NSI": "-5325"
                    },
                    {
                      "timestamp": "2026-07-26 08:25:00",
                      "NSI": "-5325"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:13 EST",
                  "MktDay": null
                }
              }
            }
          }
        }
      }
    },
    "/api/Interchange/GetNsi/MISOOneMinute": {
      "get": {
        "operationId": "getInterchangeGetNsiMISOOneMinute",
        "summary": "Net Scheduled Interchange (MISO) \u2014 MISOOneMinute",
        "description": "Source data behind the MISO public \"Net Scheduled Interchange (MISO)\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "NSI": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "timestamp": "2026-07-25 19:01:00",
                      "NSI": "-6639"
                    },
                    {
                      "timestamp": "2026-07-25 19:02:00",
                      "NSI": "-6706"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:08 EST",
                  "MktDay": null
                }
              }
            }
          }
        }
      }
    },
    "/api/Interchange/GetNsi/OneMinute": {
      "get": {
        "operationId": "getInterchangeGetNsiOneMinute",
        "summary": "Net Scheduled Interchange \u2014 OneMinute",
        "description": "Source data behind the MISO public \"Net Scheduled Interchange\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "AECI": {
                            "type": "string"
                          },
                          "LGEE": {
                            "type": "string"
                          },
                          "MHEB": {
                            "type": "string"
                          },
                          "MISO": {
                            "type": "string"
                          },
                          "ONT": {
                            "type": "string"
                          },
                          "PJM": {
                            "type": "string"
                          },
                          "SOCO": {
                            "type": "string"
                          },
                          "SPA": {
                            "type": "string"
                          },
                          "SWPP": {
                            "type": "string"
                          },
                          "TVA": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "timestamp": "2026-07-25 19:01:00",
                      "AECI": "182",
                      "LGEE": "-73",
                      "MHEB": "-1733",
                      "MISO": "-6639",
                      "ONT": "-1543",
                      "PJM": "-3264",
                      "SOCO": "172",
                      "SPA": "-114",
                      "SWPP": "-148",
                      "TVA": "-370"
                    },
                    {
                      "timestamp": "2026-07-25 19:02:00",
                      "AECI": "191",
                      "LGEE": "-74",
                      "MHEB": "-1734",
                      "MISO": "-6706",
                      "ONT": "-1542",
                      "PJM": "-3333",
                      "SOCO": "172",
                      "SPA": "-109",
                      "SWPP": "-160",
                      "TVA": "-370"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:08 EST",
                  "MktDay": null
                }
              }
            }
          }
        }
      }
    },
    "/api/RealTimeTotalLoad": {
      "get": {
        "operationId": "getRealTimeTotalLoad",
        "summary": "Real Time Total Load",
        "description": "Source data behind the MISO public \"Real Time Total Load\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LoadInfo": {
                      "type": "object",
                      "properties": {
                        "RefId": {
                          "type": "string"
                        },
                        "ClearedMW": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ClearedMWHourly": {
                                "type": "object",
                                "properties": {
                                  "Hour": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "MediumTermLoadForecast": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Forecast": {
                                "type": "object",
                                "properties": {
                                  "HourEnding": {
                                    "type": "string"
                                  },
                                  "LoadForecast": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "FiveMinTotalLoad": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Load": {
                                "type": "object",
                                "properties": {
                                  "Time": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "LoadInfo": {
                    "RefId": "27-Jul-2026 - Interval 08:10 EST",
                    "ClearedMW": [
                      {
                        "ClearedMWHourly": {
                          "Hour": "1",
                          "Value": "90916"
                        }
                      },
                      {
                        "ClearedMWHourly": {
                          "Hour": "2",
                          "Value": "86496"
                        }
                      }
                    ],
                    "MediumTermLoadForecast": [
                      {
                        "Forecast": {
                          "HourEnding": "1",
                          "LoadForecast": "89367"
                        }
                      },
                      {
                        "Forecast": {
                          "HourEnding": "2",
                          "LoadForecast": "86225"
                        }
                      }
                    ],
                    "FiveMinTotalLoad": [
                      {
                        "Load": {
                          "Time": "00:00",
                          "Value": "93419"
                        }
                      },
                      {
                        "Load": {
                          "Time": "00:05",
                          "Value": "93087"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/RegionalDirectionalTransfer": {
      "get": {
        "operationId": "getRegionalDirectionalTransfer",
        "summary": "Regional Directional Transfer",
        "description": "Source data behind the MISO public \"Regional Directional Transfer\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Interval": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "instantEST": {
                            "type": "string"
                          },
                          "NORTH_SOUTH_LIMIT": {
                            "type": "string"
                          },
                          "SOUTH_NORTH_LIMIT": {
                            "type": "string"
                          },
                          "RAW_MW": {
                            "type": "string"
                          },
                          "UDSFLOW_MW": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:15 EST",
                  "Interval": [
                    {
                      "instantEST": "2026-07-26 08:15:00 AM",
                      "NORTH_SOUTH_LIMIT": "-3000",
                      "SOUTH_NORTH_LIMIT": "2500",
                      "RAW_MW": "2594",
                      "UDSFLOW_MW": "2200"
                    },
                    {
                      "instantEST": "2026-07-26 08:20:00 AM",
                      "NORTH_SOUTH_LIMIT": "-3000",
                      "SOUTH_NORTH_LIMIT": "2500",
                      "RAW_MW": "2527",
                      "UDSFLOW_MW": "2200"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/Snapshot": {
      "get": {
        "operationId": "getSnapshot",
        "summary": "Snapshot",
        "description": "Source data behind the MISO public \"Snapshot\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "string"
                      },
                      "v": {
                        "type": "string"
                      },
                      "d": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "t": "Forecasted Peak Demand (MW)",
                    "v": "125,572",
                    "d": "7/27/2026 12:00:00 AM EST",
                    "id": "0"
                  },
                  {
                    "t": "Current Demand (MW)",
                    "v": "96,772",
                    "d": "7/27/2026 8:10:00 AM EST",
                    "id": "1"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/WindSolar/GetCombined": {
      "get": {
        "operationId": "getWindSolarGetCombined",
        "summary": "Wind and Solar Generation \u2014 GetCombined",
        "description": "Source data behind the MISO public \"Wind and Solar Generation\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ForecastDateTimeEST": {
                            "type": "string"
                          },
                          "ForecastHourEndingEST": {
                            "type": "string"
                          },
                          "ForecastWindValue": {
                            "type": "string"
                          },
                          "ForecastSolarValue": {
                            "type": "string"
                          },
                          "ActualDateTimeEST": {
                            "type": "string"
                          },
                          "ActualHourEndingEST": {
                            "type": "string"
                          },
                          "ActualWindValue": {
                            "type": "string"
                          },
                          "ActualSolarValue": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "ForecastDateTimeEST": "2026-07-27 12:00:00 AM",
                      "ForecastHourEndingEST": "1",
                      "ForecastWindValue": "13582.00",
                      "ForecastSolarValue": "0.00",
                      "ActualDateTimeEST": "2026-07-27 12:00:00 AM",
                      "ActualHourEndingEST": "1",
                      "ActualWindValue": "11320.30",
                      "ActualSolarValue": "-48.77"
                    },
                    {
                      "ForecastDateTimeEST": "2026-07-27 1:00:00 AM",
                      "ForecastHourEndingEST": "2",
                      "ForecastWindValue": "13652.00",
                      "ForecastSolarValue": "0.00",
                      "ActualDateTimeEST": "2026-07-27 1:00:00 AM",
                      "ActualHourEndingEST": "2",
                      "ActualWindValue": "11166.52",
                      "ActualSolarValue": "-48.95"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:00 EST",
                  "MktDay": "07-27-2026"
                }
              }
            }
          }
        }
      }
    },
    "/api/WindSolar/getsolar": {
      "get": {
        "operationId": "getWindSolarGetsolar",
        "summary": "Wind and Solar Generation \u2014 getsolar",
        "description": "Source data behind the MISO public \"Wind and Solar Generation\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ForecastDateTimeEST": {
                            "type": "string"
                          },
                          "ForecastHourEndingEST": {
                            "type": "string"
                          },
                          "ForecastValue": {
                            "type": "string"
                          },
                          "ActualDateTimeEST": {
                            "type": "string"
                          },
                          "ActualHourEndingEST": {
                            "type": "string"
                          },
                          "ActualValue": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "ForecastDateTimeEST": "2026-07-27 12:00:00 AM",
                      "ForecastHourEndingEST": "1",
                      "ForecastValue": "0.00",
                      "ActualDateTimeEST": "2026-07-27 12:00:00 AM",
                      "ActualHourEndingEST": "1",
                      "ActualValue": "-48.77"
                    },
                    {
                      "ForecastDateTimeEST": "2026-07-27 1:00:00 AM",
                      "ForecastHourEndingEST": "2",
                      "ForecastValue": "0.00",
                      "ActualDateTimeEST": "2026-07-27 1:00:00 AM",
                      "ActualHourEndingEST": "2",
                      "ActualValue": "-48.95"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:00 EST",
                  "MktDay": "07-27-2026"
                }
              }
            }
          }
        }
      }
    },
    "/api/WindSolar/getsolaractual": {
      "get": {
        "operationId": "getWindSolarGetsolaractual",
        "summary": "Wind and Solar Generation \u2014 getsolaractual",
        "description": "Source data behind the MISO public \"Wind and Solar Generation\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DateTimeEST": {
                            "type": "string"
                          },
                          "HourEndingEST": {
                            "type": "string"
                          },
                          "Value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "DateTimeEST": "2026-07-27 12:00:00 AM",
                      "HourEndingEST": "1",
                      "Value": "-48.77"
                    },
                    {
                      "DateTimeEST": "2026-07-27 1:00:00 AM",
                      "HourEndingEST": "2",
                      "Value": "-48.95"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:00 EST",
                  "MktDay": "07-27-2026"
                }
              }
            }
          }
        }
      }
    },
    "/api/WindSolar/getsolarforecast": {
      "get": {
        "operationId": "getWindSolarGetsolarforecast",
        "summary": "Wind and Solar Generation \u2014 getsolarforecast",
        "description": "Source data behind the MISO public \"Wind and Solar Generation\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Forecast": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DateTimeEST": {
                            "type": "string"
                          },
                          "HourEndingEST": {
                            "type": "string"
                          },
                          "Value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "Forecast": [
                    {
                      "DateTimeEST": "2026-07-27 12:00:00 AM",
                      "HourEndingEST": "1",
                      "Value": "0.00"
                    },
                    {
                      "DateTimeEST": "2026-07-27 1:00:00 AM",
                      "HourEndingEST": "2",
                      "Value": "0.00"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:00 EST",
                  "MktDay": "07-27-2026"
                }
              }
            }
          }
        }
      }
    },
    "/api/WindSolar/getwind": {
      "get": {
        "operationId": "getWindSolarGetwind",
        "summary": "Wind and Solar Generation \u2014 getwind",
        "description": "Source data behind the MISO public \"Wind and Solar Generation\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ForecastDateTimeEST": {
                            "type": "string"
                          },
                          "ForecastHourEndingEST": {
                            "type": "string"
                          },
                          "ForecastValue": {
                            "type": "string"
                          },
                          "ActualDateTimeEST": {
                            "type": "string"
                          },
                          "ActualHourEndingEST": {
                            "type": "string"
                          },
                          "ActualValue": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "ForecastDateTimeEST": "2026-07-27 12:00:00 AM",
                      "ForecastHourEndingEST": "1",
                      "ForecastValue": "13582.00",
                      "ActualDateTimeEST": "2026-07-27 12:00:00 AM",
                      "ActualHourEndingEST": "1",
                      "ActualValue": "11320.30"
                    },
                    {
                      "ForecastDateTimeEST": "2026-07-27 1:00:00 AM",
                      "ForecastHourEndingEST": "2",
                      "ForecastValue": "13652.00",
                      "ActualDateTimeEST": "2026-07-27 1:00:00 AM",
                      "ActualHourEndingEST": "2",
                      "ActualValue": "11166.52"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:00 EST",
                  "MktDay": "07-27-2026"
                }
              }
            }
          }
        }
      }
    },
    "/api/WindSolar/getwindactual": {
      "get": {
        "operationId": "getWindSolarGetwindactual",
        "summary": "Wind and Solar Generation \u2014 getwindactual",
        "description": "Source data behind the MISO public \"Wind and Solar Generation\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DateTimeEST": {
                            "type": "string"
                          },
                          "HourEndingEST": {
                            "type": "string"
                          },
                          "Value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "instance": [
                    {
                      "DateTimeEST": "2026-07-27 12:00:00 AM",
                      "HourEndingEST": "1",
                      "Value": "11320.30"
                    },
                    {
                      "DateTimeEST": "2026-07-27 1:00:00 AM",
                      "HourEndingEST": "2",
                      "Value": "11166.52"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:00 EST",
                  "MktDay": "07-27-2026"
                }
              }
            }
          }
        }
      }
    },
    "/api/WindSolar/getwindforecast": {
      "get": {
        "operationId": "getWindSolarGetwindforecast",
        "summary": "Wind and Solar Generation \u2014 getwindforecast",
        "description": "Source data behind the MISO public \"Wind and Solar Generation\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Forecast": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DateTimeEST": {
                            "type": "string"
                          },
                          "HourEndingEST": {
                            "type": "string"
                          },
                          "Value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "Forecast": [
                    {
                      "DateTimeEST": "2026-07-27 12:00:00 AM",
                      "HourEndingEST": "1",
                      "Value": "13582.00"
                    },
                    {
                      "DateTimeEST": "2026-07-27 1:00:00 AM",
                      "HourEndingEST": "2",
                      "Value": "13652.00"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:00 EST",
                  "MktDay": "07-27-2026"
                }
              }
            }
          }
        }
      }
    },
    "/api/BindingConstraints/RealTime": {
      "get": {
        "operationId": "getBindingConstraintsRealTime",
        "summary": "Real-Time Transmission Binding Constraints",
        "description": "Source data behind the MISO public \"Real-Time Transmission Binding Constraints\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Constraint": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "Period": {
                            "type": "string"
                          },
                          "Price": {
                            "type": "string"
                          },
                          "OVERRIDE": {
                            "type": "string"
                          },
                          "CURVETYPE": {
                            "type": "string"
                          },
                          "BP1": {
                            "type": "string"
                          },
                          "PC1": {
                            "type": "string"
                          },
                          "BP2": {
                            "type": "string"
                          },
                          "PC2": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:10 EST",
                  "Constraint": [
                    {
                      "Name": "ALEWEC02_ROCKDAL1_66320_66",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "-329.63",
                      "OVERRIDE": "0",
                      "CURVETYPE": "PERCENT",
                      "BP1": "100",
                      "PC1": "700",
                      "BP2": "102",
                      "PC2": "1000"
                    },
                    {
                      "Name": "ALW16041_ABBOTT_ABBOTTRAER16_1_1",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "-27.61",
                      "OVERRIDE": "0",
                      "CURVETYPE": "PERCENT",
                      "BP1": "100",
                      "PC1": "1000",
                      "BP2": "102",
                      "PC2": "2000"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/BindingConstraints/Reserve": {
      "get": {
        "operationId": "getBindingConstraintsReserve",
        "summary": "Reserve Products Binding Constraints",
        "description": "Source data behind the MISO public \"Reserve Products Binding Constraints\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Constraint": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "Period": {
                            "type": "string"
                          },
                          "Price": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:10 EST",
                  "Constraint": [
                    {
                      "Name": "RDT_SO_MW (South_North) - STR+Lost_Gen Zone_1",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "-0.16",
                      "Description": "STR+Lost_Gen Zone_1"
                    },
                    {
                      "Name": "RDT_SO_MW (South_North) - STR+Lost_Gen Zone_3",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "-8.32",
                      "Description": "STR+Lost_Gen Zone_3"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/BindingConstraints/SubRegional": {
      "get": {
        "operationId": "getBindingConstraintsSubRegional",
        "summary": "Real-Time Binding Sub-Regional Power Balance Constraints",
        "description": "Source data behind the MISO public \"Real-Time Binding Sub-Regional Power Balance Constraints\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Constraint": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "REASON": {
                            "type": "string"
                          },
                          "BP3": {
                            "type": "string"
                          },
                          "PC3": {
                            "type": "string"
                          },
                          "BP4": {
                            "type": "string"
                          },
                          "PC4": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "Period": {
                            "type": "string"
                          },
                          "Price": {
                            "type": "string"
                          },
                          "OVERRIDE": {
                            "type": "string"
                          },
                          "CURVETYPE": {
                            "type": "string"
                          },
                          "BP1": {
                            "type": "string"
                          },
                          "PC1": {
                            "type": "string"
                          },
                          "BP2": {
                            "type": "string"
                          },
                          "PC2": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:10 EST",
                  "Constraint": [
                    {
                      "REASON": "None",
                      "BP3": "0",
                      "PC3": "0",
                      "BP4": "0",
                      "PC4": "0",
                      "Name": "None",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "None",
                      "OVERRIDE": "None",
                      "CURVETYPE": "None",
                      "BP1": "0",
                      "PC1": "0",
                      "BP2": "0",
                      "PC2": "0"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/CoordinatedTransactionScheduling": {
      "get": {
        "operationId": "getCoordinatedTransactionScheduling",
        "summary": "Coordinated Transaction Scheduling",
        "description": "Source data behind the MISO public \"Coordinated Transaction Scheduling\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Interval": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CASEAPPROVALDATE": {
                            "type": "string"
                          },
                          "SOLUTIONTIME": {
                            "type": "string"
                          },
                          "PJMFORECASTEDLMP": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:00 EST",
                  "Interval": [
                    {
                      "CASEAPPROVALDATE": "2026-07-27 8:04:09 AM",
                      "SOLUTIONTIME": "2026-07-27 8:00:00 AM",
                      "PJMFORECASTEDLMP": "45.73"
                    },
                    {
                      "CASEAPPROVALDATE": "2026-07-27 8:04:09 AM",
                      "SOLUTIONTIME": "2026-07-27 8:15:00 AM",
                      "PJMFORECASTEDLMP": "48.93"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/MarketPricing/GetAncillaryServicesMcp": {
      "get": {
        "operationId": "getMarketPricingGetAncillaryServicesMcp",
        "summary": "Ancillary Services MCP",
        "description": "Source data behind the MISO public \"Ancillary Services MCP\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "MCPData": {
                      "type": "object",
                      "properties": {
                        "RefId": {
                          "type": "string"
                        },
                        "MktDay": {
                          "type": "string"
                        },
                        "RealTimeMCP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "Zone": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "number": {
                                    "type": "string"
                                  },
                                  "GenRegMCP": {
                                    "type": "string"
                                  },
                                  "GenSpinMCP": {
                                    "type": "string"
                                  },
                                  "GenSuppMCP": {
                                    "type": "string"
                                  },
                                  "StrMcp": {
                                    "type": "string"
                                  },
                                  "DemandRegMcp": {
                                    "type": "string"
                                  },
                                  "DemandSpinMcp": {
                                    "type": "string"
                                  },
                                  "DemandSuppMcp": {
                                    "type": "string"
                                  },
                                  "RcpUpMcp": {
                                    "type": "string"
                                  },
                                  "RcpDownMcp": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "DayAheadMCP": {
                          "type": "object",
                          "properties": {
                            "HourEnding": {
                              "type": "string"
                            },
                            "Zone": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "number": {
                                    "type": "string"
                                  },
                                  "GenRegMCP": {
                                    "type": "string"
                                  },
                                  "GenSpinMCP": {
                                    "type": "string"
                                  },
                                  "GenSuppMCP": {
                                    "type": "string"
                                  },
                                  "StrMcp": {
                                    "type": "string"
                                  },
                                  "DemandRegMcp": {
                                    "type": "string"
                                  },
                                  "DemandSpinMcp": {
                                    "type": "string"
                                  },
                                  "DemandSuppMcp": {
                                    "type": "string"
                                  },
                                  "RcpUpMcp": {
                                    "type": "string"
                                  },
                                  "RcpDownMcp": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "MCPData": {
                    "RefId": "27-Jul-2026 - Interval 08:15 EST",
                    "MktDay": "07-27-2026",
                    "RealTimeMCP": {
                      "HourAndMin": "08:15",
                      "Zone": [
                        {
                          "number": "1",
                          "GenRegMCP": "9.34",
                          "GenSpinMCP": "0.16",
                          "GenSuppMCP": "0.16",
                          "StrMcp": "0.10",
                          "DemandRegMcp": "9.34",
                          "DemandSpinMcp": "0.16",
                          "DemandSuppMcp": "0.16",
                          "RcpUpMcp": "0.00",
                          "RcpDownMcp": "0.00"
                        },
                        {
                          "number": "2",
                          "GenRegMCP": "9.34",
                          "GenSpinMCP": "0.16",
                          "GenSuppMCP": "0.16",
                          "StrMcp": "0.10",
                          "DemandRegMcp": "9.34",
                          "DemandSpinMcp": "0.16",
                          "DemandSuppMcp": "0.16",
                          "RcpUpMcp": "0.00",
                          "RcpDownMcp": "0.00"
                        }
                      ]
                    },
                    "DayAheadMCP": {
                      "HourEnding": "9",
                      "Zone": [
                        {
                          "number": "1",
                          "GenRegMCP": "11.91",
                          "GenSpinMCP": "0.84",
                          "GenSuppMCP": "0.40",
                          "StrMcp": "0.85",
                          "DemandRegMcp": "11.91",
                          "DemandSpinMcp": "0.84",
                          "DemandSuppMcp": "0.40",
                          "RcpUpMcp": "0.00",
                          "RcpDownMcp": "0.00"
                        },
                        {
                          "number": "2",
                          "GenRegMCP": "11.91",
                          "GenSpinMCP": "0.84",
                          "GenSuppMCP": "0.40",
                          "StrMcp": "0.85",
                          "DemandRegMcp": "11.91",
                          "DemandSpinMcp": "0.84",
                          "DemandSuppMcp": "0.40",
                          "RcpUpMcp": "0.00",
                          "RcpDownMcp": "0.00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/MarketPricing/GetExAnteLmp": {
      "get": {
        "operationId": "getMarketPricingGetExAnteLmp",
        "summary": "ExAnte LMP",
        "description": "Source data behind the MISO public \"ExAnte LMP\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LMPData": {
                      "type": "object",
                      "properties": {
                        "RefId": {
                          "type": "string"
                        },
                        "ExAnteLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "Hub": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "loss": {
                                    "type": "string"
                                  },
                                  "congestion": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "LMPData": {
                    "RefId": "27-Jul-2026 - Interval 08:15 EST",
                    "ExAnteLMP": {
                      "HourAndMin": "08:15",
                      "Hub": [
                        {
                          "name": "ARKANSAS.HUB",
                          "LMP": "22.12",
                          "loss": "-1.67",
                          "congestion": "-1.91"
                        },
                        {
                          "name": "ILLINOIS.HUB",
                          "LMP": "24.84",
                          "loss": "-0.86",
                          "congestion": "0.00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/MarketPricing/GetLmpConsolidatedTable": {
      "get": {
        "operationId": "getMarketPricingGetLmpConsolidatedTable",
        "summary": "LMP Consolidated Table",
        "description": "Source data behind the MISO public \"LMP Consolidated Table\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LMPData": {
                      "type": "object",
                      "properties": {
                        "RefId": {
                          "type": "string"
                        },
                        "FiveMinLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "PricingNode": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "MLC": {
                                    "type": "string"
                                  },
                                  "MCC": {
                                    "type": "string"
                                  },
                                  "REGMCP": {
                                    "type": "string"
                                  },
                                  "REGMILEAGEMCP": {
                                    "type": "string"
                                  },
                                  "SPINMCP": {
                                    "type": "string"
                                  },
                                  "SUPPMCP": {
                                    "type": "string"
                                  },
                                  "STRMCP": {
                                    "type": "string"
                                  },
                                  "RCUPMCP": {
                                    "type": "string"
                                  },
                                  "RCDOWNMCP": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "HourlyIntegratedLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "PricingNode": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "MCC": {
                                    "type": "string"
                                  },
                                  "MLC": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "DayAheadExAnteLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "PricingNode": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "MCC": {
                                    "type": "string"
                                  },
                                  "MLC": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "DayAheadExPostLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "PricingNode": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "MCC": {
                                    "type": "string"
                                  },
                                  "MLC": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "LMPData": {
                    "RefId": "27-Jul-2026 - Interval 08:15 EST",
                    "FiveMinLMP": {
                      "HourAndMin": "08:15",
                      "PricingNode": [
                        {
                          "name": "KCPL",
                          "region": "Midwest",
                          "LMP": "24.58",
                          "MLC": "-1.94",
                          "MCC": "-3.44",
                          "REGMCP": "0.00",
                          "REGMILEAGEMCP": "0.00",
                          "SPINMCP": "0.00",
                          "SUPPMCP": "0.00",
                          "STRMCP": "0.00",
                          "RCUPMCP": "0.00",
                          "RCDOWNMCP": "0.00"
                        },
                        {
                          "name": "LAFA.HARGIS1",
                          "region": "South",
                          "LMP": "23.52",
                          "MLC": "-0.75",
                          "MCC": "-5.69",
                          "REGMCP": "9.34",
                          "REGMILEAGEMCP": "0.75",
                          "SPINMCP": "0.16",
                          "SUPPMCP": "0.16",
                          "STRMCP": "0.00",
                          "RCUPMCP": "0.00",
                          "RCDOWNMCP": "0.00"
                        }
                      ]
                    },
                    "HourlyIntegratedLMP": {
                      "HourAndMin": "HE 8",
                      "PricingNode": [
                        {
                          "name": "KCPL",
                          "region": "Midwest",
                          "LMP": "31.12",
                          "MCC": "-6.04",
                          "MLC": "-2.92"
                        },
                        {
                          "name": "LAFA.HARGIS1",
                          "region": "South",
                          "LMP": "24.01",
                          "MCC": "-14.91",
                          "MLC": "-1.15"
                        }
                      ]
                    },
                    "DayAheadExAnteLMP": {
                      "HourAndMin": "HE 9",
                      "PricingNode": [
                        {
                          "name": "KCPL",
                          "region": "Midwest",
                          "LMP": "33.83",
                          "MCC": "-1.75",
                          "MLC": "-2.18"
                        },
                        {
                          "name": "LAFA.HARGIS1",
                          "region": "South",
                          "LMP": "23.65",
                          "MCC": "-12.42",
                          "MLC": "-1.69"
                        }
                      ]
                    },
                    "DayAheadExPostLMP": {
                      "HourAndMin": "HE 9",
                      "PricingNode": [
                        {
                          "name": "KCPL",
                          "region": "Midwest",
                          "LMP": "34.35",
                          "MCC": "-2.06",
                          "MLC": "-2.23"
                        },
                        {
                          "name": "LAFA.HARGIS1",
                          "region": "South",
                          "LMP": "23.73",
                          "MCC": "-13.18",
                          "MLC": "-1.73"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
[...]
