openapi: 3.2.0
info:
  title: MISO Public Binding Constraints API
  version: '2025-12-12'
  description: 'Real-time market and operations data displays from MISO, served from one host under /api/. Merged from two separately derived documents — Operations Displays and Markets Displays — which described the same API: same server, same (absent) authentication, and the same documentation table. Reported by a reader on 2026-08-04.'
  x-provenance:
    harvestedBy: API Evangelist
    fetchDate: '2026-07-27'
    note: 'MISO publishes no OpenAPI for its Public API. This document was assembled from MISO''s own published artifacts only: every path and every operation summary is taken verbatim from the endpoint table MISO publishes at https://public-api.misoenergy.org/ (section "Operations Displays"), and every response schema and example is derived from the live JSON MISO returned to an anonymous GET on 2026-07-27. No host, path, parameter, field name or value was invented. Examples are the real payloads with long arrays truncated to two elements. No query parameters are documented by MISO for these endpoints and none are asserted here.'
    sources:
    - https://www.misoenergy.org/markets-and-operations/RTDataAPIs/ (HTTP 200)
    - https://public-api.misoenergy.org/ (HTTP 200, endpoint table)
    - Every path in this document individually fetched anonymously; all returned HTTP 200 application/json on 2026-07-27.
servers:
- url: https://public-api.misoenergy.org
  description: MISO Public API — anonymous, no key, no account.
tags:
- name: BindingConstraints
paths:
  /api/BindingConstraints/RealTime:
    get:
      operationId: getBindingConstraintsRealTime
      summary: Real-Time Transmission Binding Constraints
      description: Source data behind the MISO public "Real-Time Transmission Binding Constraints" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.
      responses:
        '200':
          description: Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RefId:
                    type: string
                  Constraint:
                    type: array
                    items:
                      type: object
                      properties:
                        Name:
                          type: string
                        Period:
                          type: string
                        Price:
                          type: string
                        OVERRIDE:
                          type: string
                        CURVETYPE:
                          type: string
                        BP1:
                          type: string
                        PC1:
                          type: string
                        BP2:
                          type: string
                        PC2:
                          type: string
              example:
                RefId: 27-Jul-2026 - Interval 08:10 EST
                Constraint:
                - Name: ALEWEC02_ROCKDAL1_66320_66
                  Period: '2026-07-27T08:10:00'
                  Price: '-329.63'
                  OVERRIDE: '0'
                  CURVETYPE: PERCENT
                  BP1: '100'
                  PC1: '700'
                  BP2: '102'
                  PC2: '1000'
                - Name: ALW16041_ABBOTT_ABBOTTRAER16_1_1
                  Period: '2026-07-27T08:10:00'
                  Price: '-27.61'
                  OVERRIDE: '0'
                  CURVETYPE: PERCENT
                  BP1: '100'
                  PC1: '1000'
                  BP2: '102'
                  PC2: '2000'
      tags:
      - BindingConstraints
  /api/BindingConstraints/Reserve:
    get:
      operationId: getBindingConstraintsReserve
      summary: Reserve Products Binding Constraints
      description: Source data behind the MISO public "Reserve Products Binding Constraints" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.
      responses:
        '200':
          description: Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RefId:
                    type: string
                  Constraint:
                    type: array
                    items:
                      type: object
                      properties:
                        Name:
                          type: string
                        Period:
                          type: string
                        Price:
                          type: string
                        Description:
                          type: string
              example:
                RefId: 27-Jul-2026 - Interval 08:10 EST
                Constraint:
                - Name: RDT_SO_MW (South_North) - STR+Lost_Gen Zone_1
                  Period: '2026-07-27T08:10:00'
                  Price: '-0.16'
                  Description: STR+Lost_Gen Zone_1
                - Name: RDT_SO_MW (South_North) - STR+Lost_Gen Zone_3
                  Period: '2026-07-27T08:10:00'
                  Price: '-8.32'
                  Description: STR+Lost_Gen Zone_3
      tags:
      - BindingConstraints
  /api/BindingConstraints/SubRegional:
    get:
      operationId: getBindingConstraintsSubRegional
      summary: Real-Time Binding Sub-Regional Power Balance Constraints
      description: Source data behind the MISO public "Real-Time Binding Sub-Regional Power Balance Constraints" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.
      responses:
        '200':
          description: Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RefId:
                    type: string
                  Constraint:
                    type: array
                    items:
                      type: object
                      properties:
                        REASON:
                          type: string
                        BP3:
                          type: string
                        PC3:
                          type: string
                        BP4:
                          type: string
                        PC4:
                          type: string
                        Name:
                          type: string
                        Period:
                          type: string
                        Price:
                          type: string
                        OVERRIDE:
                          type: string
                        CURVETYPE:
                          type: string
                        BP1:
                          type: string
                        PC1:
                          type: string
                        BP2:
                          type: string
                        PC2:
                          type: string
              example:
                RefId: 27-Jul-2026 - Interval 08:10 EST
                Constraint:
                - REASON: None
                  BP3: '0'
                  PC3: '0'
                  BP4: '0'
                  PC4: '0'
                  Name: None
                  Period: '2026-07-27T08:10:00'
                  Price: None
                  OVERRIDE: None
                  CURVETYPE: None
                  BP1: '0'
                  PC1: '0'
                  BP2: '0'
                  PC2: '0'
      tags:
      - BindingConstraints
