openapi: 3.2.0
info:
  title: MISO Public Csat Next Day Short Term Reserve Requirement API
  version: '2025-12-12'
  description: 'Real-time market and operations data displays from MISO, served from one host under /api/. Merged from two separately derived documents — Operations Displays and Markets Displays — which described the same API: same server, same (absent) authentication, and the same documentation table. Reported by a reader on 2026-08-04.'
  x-provenance:
    harvestedBy: API Evangelist
    fetchDate: '2026-07-27'
    note: 'MISO publishes no OpenAPI for its Public API. This document was assembled from MISO''s own published artifacts only: every path and every operation summary is taken verbatim from the endpoint table MISO publishes at https://public-api.misoenergy.org/ (section "Operations Displays"), and every response schema and example is derived from the live JSON MISO returned to an anonymous GET on 2026-07-27. No host, path, parameter, field name or value was invented. Examples are the real payloads with long arrays truncated to two elements. No query parameters are documented by MISO for these endpoints and none are asserted here.'
    sources:
    - https://www.misoenergy.org/markets-and-operations/RTDataAPIs/ (HTTP 200)
    - https://public-api.misoenergy.org/ (HTTP 200, endpoint table)
    - Every path in this document individually fetched anonymously; all returned HTTP 200 application/json on 2026-07-27.
servers:
- url: https://public-api.misoenergy.org
  description: MISO Public API — anonymous, no key, no account.
tags:
- name: CsatNextDayShortTermReserveRequirement
paths:
  /api/CsatNextDayShortTermReserveRequirement:
    get:
      operationId: getCsatNextDayShortTermReserveRequirement
      summary: CSAT Next Day Short Term Reserve Requirement
      description: Source data behind the MISO public "CSAT Next Day Short Term Reserve Requirement" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.
      responses:
        '200':
          description: Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    forecastPeakHourEst:
                      type: string
                    region:
                      type: string
                    forecastCreatedTime:
                      type: string
                    strReq:
                      type: integer
                    strOverwrite:
                      type: integer
              example:
              - forecastPeakHourEst: '2026-07-28T16:00:00'
                region: North/Central
                forecastCreatedTime: '2026-07-27T07:05:06'
                strReq: 0
                strOverwrite: 0
              - forecastPeakHourEst: '2026-07-28T16:00:00'
                region: Systemwide
                forecastCreatedTime: '2026-07-27T07:05:06'
                strReq: 0
                strOverwrite: 0
      tags:
      - CsatNextDayShortTermReserveRequirement
