{
  "openapi": "3.0.3",
  "info": {
    "title": "MISO Public API - Markets Displays",
    "version": "2025-12-12",
    "description": "Real-time MISO wholesale market data behind the public Markets Displays on misoenergy.org: ancillary services market clearing prices, ex-ante LMP, the LMP consolidated table, real-time five-minute ex-post intervals, transmission and reserve binding constraints, coordinated transaction scheduling, and real-time RSG commitments.\n\nMISO notice, verbatim from https://www.misoenergy.org/markets-and-operations/RTDataAPIs/ : \"For your convenience, MISO provides direct access to the source data behind the charts and tables displayed in real-time on this website. As of December 12, 2025, these data feeds are available in JSON format only. Please be aware that the underlying URLs have also changed for all links. This implementation is designed to improve consistency, performance, and future compatibility for accessing real-time data. Please be respectful of caching limits and avoid accessing these links more than once per minute to ensure system stability and fair usage for all users.\"",
    "x-provenance": {
      "harvestedBy": "API Evangelist",
      "fetchDate": "2026-07-27",
      "note": "MISO publishes no OpenAPI for its Public API. This document was assembled from MISO's own published artifacts only: every path and every operation summary is taken verbatim from the endpoint table MISO publishes at https://public-api.misoenergy.org/ (section \"Markets Displays\"), and every response schema and example is derived from the live JSON MISO returned to an anonymous GET on 2026-07-27. No host, path, parameter, field name or value was invented. Examples are the real payloads with long arrays truncated to two elements. No query parameters are documented by MISO for these endpoints and none are asserted here.",
      "sources": [
        "https://www.misoenergy.org/markets-and-operations/RTDataAPIs/ (HTTP 200)",
        "https://public-api.misoenergy.org/ (HTTP 200, endpoint table)",
        "Every path in this document individually fetched anonymously; all returned HTTP 200 application/json on 2026-07-27."
      ]
    }
  },
  "servers": [
    {
      "url": "https://public-api.misoenergy.org",
      "description": "MISO Public API \u2014 anonymous, no key, no account."
    }
  ],
  "paths": {
    "/api/BindingConstraints/RealTime": {
      "get": {
        "operationId": "getBindingConstraintsRealTime",
        "summary": "Real-Time Transmission Binding Constraints",
        "description": "Source data behind the MISO public \"Real-Time Transmission Binding Constraints\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Constraint": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "Period": {
                            "type": "string"
                          },
                          "Price": {
                            "type": "string"
                          },
                          "OVERRIDE": {
                            "type": "string"
                          },
                          "CURVETYPE": {
                            "type": "string"
                          },
                          "BP1": {
                            "type": "string"
                          },
                          "PC1": {
                            "type": "string"
                          },
                          "BP2": {
                            "type": "string"
                          },
                          "PC2": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:10 EST",
                  "Constraint": [
                    {
                      "Name": "ALEWEC02_ROCKDAL1_66320_66",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "-329.63",
                      "OVERRIDE": "0",
                      "CURVETYPE": "PERCENT",
                      "BP1": "100",
                      "PC1": "700",
                      "BP2": "102",
                      "PC2": "1000"
                    },
                    {
                      "Name": "ALW16041_ABBOTT_ABBOTTRAER16_1_1",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "-27.61",
                      "OVERRIDE": "0",
                      "CURVETYPE": "PERCENT",
                      "BP1": "100",
                      "PC1": "1000",
                      "BP2": "102",
                      "PC2": "2000"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/BindingConstraints/Reserve": {
      "get": {
        "operationId": "getBindingConstraintsReserve",
        "summary": "Reserve Products Binding Constraints",
        "description": "Source data behind the MISO public \"Reserve Products Binding Constraints\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Constraint": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "Period": {
                            "type": "string"
                          },
                          "Price": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:10 EST",
                  "Constraint": [
                    {
                      "Name": "RDT_SO_MW (South_North) - STR+Lost_Gen Zone_1",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "-0.16",
                      "Description": "STR+Lost_Gen Zone_1"
                    },
                    {
                      "Name": "RDT_SO_MW (South_North) - STR+Lost_Gen Zone_3",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "-8.32",
                      "Description": "STR+Lost_Gen Zone_3"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/BindingConstraints/SubRegional": {
      "get": {
        "operationId": "getBindingConstraintsSubRegional",
        "summary": "Real-Time Binding Sub-Regional Power Balance Constraints",
        "description": "Source data behind the MISO public \"Real-Time Binding Sub-Regional Power Balance Constraints\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Constraint": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "REASON": {
                            "type": "string"
                          },
                          "BP3": {
                            "type": "string"
                          },
                          "PC3": {
                            "type": "string"
                          },
                          "BP4": {
                            "type": "string"
                          },
                          "PC4": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "Period": {
                            "type": "string"
                          },
                          "Price": {
                            "type": "string"
                          },
                          "OVERRIDE": {
                            "type": "string"
                          },
                          "CURVETYPE": {
                            "type": "string"
                          },
                          "BP1": {
                            "type": "string"
                          },
                          "PC1": {
                            "type": "string"
                          },
                          "BP2": {
                            "type": "string"
                          },
                          "PC2": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:10 EST",
                  "Constraint": [
                    {
                      "REASON": "None",
                      "BP3": "0",
                      "PC3": "0",
                      "BP4": "0",
                      "PC4": "0",
                      "Name": "None",
                      "Period": "2026-07-27T08:10:00",
                      "Price": "None",
                      "OVERRIDE": "None",
                      "CURVETYPE": "None",
                      "BP1": "0",
                      "PC1": "0",
                      "BP2": "0",
                      "PC2": "0"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/CoordinatedTransactionScheduling": {
      "get": {
        "operationId": "getCoordinatedTransactionScheduling",
        "summary": "Coordinated Transaction Scheduling",
        "description": "Source data behind the MISO public \"Coordinated Transaction Scheduling\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RefId": {
                      "type": "string"
                    },
                    "Interval": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CASEAPPROVALDATE": {
                            "type": "string"
                          },
                          "SOLUTIONTIME": {
                            "type": "string"
                          },
                          "PJMFORECASTEDLMP": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "RefId": "27-Jul-2026 - Interval 08:00 EST",
                  "Interval": [
                    {
                      "CASEAPPROVALDATE": "2026-07-27 8:04:09 AM",
                      "SOLUTIONTIME": "2026-07-27 8:00:00 AM",
                      "PJMFORECASTEDLMP": "45.73"
                    },
                    {
                      "CASEAPPROVALDATE": "2026-07-27 8:04:09 AM",
                      "SOLUTIONTIME": "2026-07-27 8:15:00 AM",
                      "PJMFORECASTEDLMP": "48.93"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/MarketPricing/GetAncillaryServicesMcp": {
      "get": {
        "operationId": "getMarketPricingGetAncillaryServicesMcp",
        "summary": "Ancillary Services MCP",
        "description": "Source data behind the MISO public \"Ancillary Services MCP\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "MCPData": {
                      "type": "object",
                      "properties": {
                        "RefId": {
                          "type": "string"
                        },
                        "MktDay": {
                          "type": "string"
                        },
                        "RealTimeMCP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "Zone": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "number": {
                                    "type": "string"
                                  },
                                  "GenRegMCP": {
                                    "type": "string"
                                  },
                                  "GenSpinMCP": {
                                    "type": "string"
                                  },
                                  "GenSuppMCP": {
                                    "type": "string"
                                  },
                                  "StrMcp": {
                                    "type": "string"
                                  },
                                  "DemandRegMcp": {
                                    "type": "string"
                                  },
                                  "DemandSpinMcp": {
                                    "type": "string"
                                  },
                                  "DemandSuppMcp": {
                                    "type": "string"
                                  },
                                  "RcpUpMcp": {
                                    "type": "string"
                                  },
                                  "RcpDownMcp": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "DayAheadMCP": {
                          "type": "object",
                          "properties": {
                            "HourEnding": {
                              "type": "string"
                            },
                            "Zone": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "number": {
                                    "type": "string"
                                  },
                                  "GenRegMCP": {
                                    "type": "string"
                                  },
                                  "GenSpinMCP": {
                                    "type": "string"
                                  },
                                  "GenSuppMCP": {
                                    "type": "string"
                                  },
                                  "StrMcp": {
                                    "type": "string"
                                  },
                                  "DemandRegMcp": {
                                    "type": "string"
                                  },
                                  "DemandSpinMcp": {
                                    "type": "string"
                                  },
                                  "DemandSuppMcp": {
                                    "type": "string"
                                  },
                                  "RcpUpMcp": {
                                    "type": "string"
                                  },
                                  "RcpDownMcp": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "MCPData": {
                    "RefId": "27-Jul-2026 - Interval 08:15 EST",
                    "MktDay": "07-27-2026",
                    "RealTimeMCP": {
                      "HourAndMin": "08:15",
                      "Zone": [
                        {
                          "number": "1",
                          "GenRegMCP": "9.34",
                          "GenSpinMCP": "0.16",
                          "GenSuppMCP": "0.16",
                          "StrMcp": "0.10",
                          "DemandRegMcp": "9.34",
                          "DemandSpinMcp": "0.16",
                          "DemandSuppMcp": "0.16",
                          "RcpUpMcp": "0.00",
                          "RcpDownMcp": "0.00"
                        },
                        {
                          "number": "2",
                          "GenRegMCP": "9.34",
                          "GenSpinMCP": "0.16",
                          "GenSuppMCP": "0.16",
                          "StrMcp": "0.10",
                          "DemandRegMcp": "9.34",
                          "DemandSpinMcp": "0.16",
                          "DemandSuppMcp": "0.16",
                          "RcpUpMcp": "0.00",
                          "RcpDownMcp": "0.00"
                        }
                      ]
                    },
                    "DayAheadMCP": {
                      "HourEnding": "9",
                      "Zone": [
                        {
                          "number": "1",
                          "GenRegMCP": "11.91",
                          "GenSpinMCP": "0.84",
                          "GenSuppMCP": "0.40",
                          "StrMcp": "0.85",
                          "DemandRegMcp": "11.91",
                          "DemandSpinMcp": "0.84",
                          "DemandSuppMcp": "0.40",
                          "RcpUpMcp": "0.00",
                          "RcpDownMcp": "0.00"
                        },
                        {
                          "number": "2",
                          "GenRegMCP": "11.91",
                          "GenSpinMCP": "0.84",
                          "GenSuppMCP": "0.40",
                          "StrMcp": "0.85",
                          "DemandRegMcp": "11.91",
                          "DemandSpinMcp": "0.84",
                          "DemandSuppMcp": "0.40",
                          "RcpUpMcp": "0.00",
                          "RcpDownMcp": "0.00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/MarketPricing/GetExAnteLmp": {
      "get": {
        "operationId": "getMarketPricingGetExAnteLmp",
        "summary": "ExAnte LMP",
        "description": "Source data behind the MISO public \"ExAnte LMP\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LMPData": {
                      "type": "object",
                      "properties": {
                        "RefId": {
                          "type": "string"
                        },
                        "ExAnteLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "Hub": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "loss": {
                                    "type": "string"
                                  },
                                  "congestion": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "LMPData": {
                    "RefId": "27-Jul-2026 - Interval 08:15 EST",
                    "ExAnteLMP": {
                      "HourAndMin": "08:15",
                      "Hub": [
                        {
                          "name": "ARKANSAS.HUB",
                          "LMP": "22.12",
                          "loss": "-1.67",
                          "congestion": "-1.91"
                        },
                        {
                          "name": "ILLINOIS.HUB",
                          "LMP": "24.84",
                          "loss": "-0.86",
                          "congestion": "0.00"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/MarketPricing/GetLmpConsolidatedTable": {
      "get": {
        "operationId": "getMarketPricingGetLmpConsolidatedTable",
        "summary": "LMP Consolidated Table",
        "description": "Source data behind the MISO public \"LMP Consolidated Table\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LMPData": {
                      "type": "object",
                      "properties": {
                        "RefId": {
                          "type": "string"
                        },
                        "FiveMinLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "PricingNode": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "MLC": {
                                    "type": "string"
                                  },
                                  "MCC": {
                                    "type": "string"
                                  },
                                  "REGMCP": {
                                    "type": "string"
                                  },
                                  "REGMILEAGEMCP": {
                                    "type": "string"
                                  },
                                  "SPINMCP": {
                                    "type": "string"
                                  },
                                  "SUPPMCP": {
                                    "type": "string"
                                  },
                                  "STRMCP": {
                                    "type": "string"
                                  },
                                  "RCUPMCP": {
                                    "type": "string"
                                  },
                                  "RCDOWNMCP": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "HourlyIntegratedLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "PricingNode": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "MCC": {
                                    "type": "string"
                                  },
                                  "MLC": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "DayAheadExAnteLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "PricingNode": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "MCC": {
                                    "type": "string"
                                  },
                                  "MLC": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "DayAheadExPostLMP": {
                          "type": "object",
                          "properties": {
                            "HourAndMin": {
                              "type": "string"
                            },
                            "PricingNode": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "LMP": {
                                    "type": "string"
                                  },
                                  "MCC": {
                                    "type": "string"
                                  },
                                  "MLC": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "LMPData": {
                    "RefId": "27-Jul-2026 - Interval 08:15 EST",
                    "FiveMinLMP": {
                      "HourAndMin": "08:15",
                      "PricingNode": [
                        {
                          "name": "KCPL",
                          "region": "Midwest",
                          "LMP": "24.58",
                          "MLC": "-1.94",
                          "MCC": "-3.44",
                          "REGMCP": "0.00",
                          "REGMILEAGEMCP": "0.00",
                          "SPINMCP": "0.00",
                          "SUPPMCP": "0.00",
                          "STRMCP": "0.00",
                          "RCUPMCP": "0.00",
                          "RCDOWNMCP": "0.00"
                        },
                        {
                          "name": "LAFA.HARGIS1",
                          "region": "South",
                          "LMP": "23.52",
                          "MLC": "-0.75",
                          "MCC": "-5.69",
                          "REGMCP": "9.34",
                          "REGMILEAGEMCP": "0.75",
                          "SPINMCP": "0.16",
                          "SUPPMCP": "0.16",
                          "STRMCP": "0.00",
                          "RCUPMCP": "0.00",
                          "RCDOWNMCP": "0.00"
                        }
                      ]
                    },
                    "HourlyIntegratedLMP": {
                      "HourAndMin": "HE 8",
                      "PricingNode": [
                        {
                          "name": "KCPL",
                          "region": "Midwest",
                          "LMP": "31.12",
                          "MCC": "-6.04",
                          "MLC": "-2.92"
                        },
                        {
                          "name": "LAFA.HARGIS1",
                          "region": "South",
                          "LMP": "24.01",
                          "MCC": "-14.91",
                          "MLC": "-1.15"
                        }
                      ]
                    },
                    "DayAheadExAnteLMP": {
                      "HourAndMin": "HE 9",
                      "PricingNode": [
                        {
                          "name": "KCPL",
                          "region": "Midwest",
                          "LMP": "33.83",
                          "MCC": "-1.75",
                          "MLC": "-2.18"
                        },
                        {
                          "name": "LAFA.HARGIS1",
                          "region": "South",
                          "LMP": "23.65",
                          "MCC": "-12.42",
                          "MLC": "-1.69"
                        }
                      ]
                    },
                    "DayAheadExPostLMP": {
                      "HourAndMin": "HE 9",
                      "PricingNode": [
                        {
                          "name": "KCPL",
                          "region": "Midwest",
                          "LMP": "34.35",
                          "MCC": "-2.06",
                          "MLC": "-2.23"
                        },
                        {
                          "name": "LAFA.HARGIS1",
                          "region": "South",
                          "LMP": "23.73",
                          "MCC": "-13.18",
                          "MLC": "-1.73"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/MarketPricing/GetRealTimeFiveMinExPost/Current": {
      "get": {
        "operationId": "getMarketPricingGetRealTimeFiveMinExPostCurrent",
        "summary": "Real-Time Five Minute ExPost Intervals \u2014 Current",
        "description": "Source data behind the MISO public \"Real-Time Five Minute ExPost Intervals\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "headers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "headers": [
                    "INTERVAL",
                    "CPNODE"
                  ],
                  "data": [
                    [
                      "2026-07-27T08:15:00",
                      "EES.KRBYVLE.AZ"
                    ],
                    [
                      "2026-07-27T08:15:00",
                      "EES.L_CREEK1"
                    ]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/MarketPricing/GetRealTimeFiveMinExPost/Previous": {
      "get": {
        "operationId": "getMarketPricingGetRealTimeFiveMinExPostPrevious",
        "summary": "Real-Time Five Minute ExPost Intervals \u2014 Previous",
        "description": "Source data behind the MISO public \"Real-Time Five Minute ExPost Intervals\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "headers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "headers": [
                    "INTERVAL",
                    "CPNODE"
                  ],
                  "data": [
                    [
                      "2026-07-26T00:00:00",
                      "AMMO.KAHO_NEM"
                    ],
                    [
                      "2026-07-26T00:00:00",
                      "AMMO.KEOKUK1"
                    ]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/MarketPricing/GetRealTimeFiveMinExPost/Rolling": {
      "get": {
        "operationId": "getMarketPricingGetRealTimeFiveMinExPostRolling",
        "summary": "Real-Time Five Minute ExPost Intervals \u2014 Rolling",
        "description": "Source data behind the MISO public \"Real-Time Five Minute ExPost Intervals\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "headers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "headers": [
                    "INTERVAL",
                    "CPNODE"
                  ],
                  "data": [
                    [
                      "2026-07-27T00:00:00",
                      "AMIL.CCG_5.AZ"
                    ],
                    [
                      "2026-07-27T00:00:00",
                      "AMIL.CEEA"
                    ]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/RealTimeRSGCommitments": {
      "get": {
        "operationId": "getRealTimeRSGCommitments",
        "summary": "Real Time RSG Commitments",
        "description": "Source data behind the MISO public \"Real Time RSG Commitments\" display. Endpoint published by MISO at https://public-api.misoenergy.org/ ; returns JSON anonymously with no key or account.",
        "responses": {
          "200": {
            "description": "Successful response. Verified anonymously (HTTP 200, application/json) on 2026-07-27.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Commitment": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "MKT_INT_END_EST": {
                            "type": "string"
                          },
                          "COMMIT_REASON": {
                            "type": "string"
                          },
                          "TOTAL_ECON_MAX": {
                            "type": "string"
                          },
                          "NUM_RESOURCES": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "RefId": {
                      "type": "string"
                    },
                    "MktDay": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "Commitment": [
                    {
                      "MKT_INT_END_EST": "2026-07-27 8:15:00 AM",
                      "COMMIT_REASON": "None",
                      "TOTAL_ECON_MAX": "0.00",
                      "NUM_RESOURCES": "None"
                    }
                  ],
                  "RefId": "27-Jul-2026 - Interval 08:15 EST",
                  "MktDay": ""
                }
              }
            }
          }
        }
      }
    }
  }
}