{
  "openapi": "3.0.1",
  "info": {
    "title": "Load, Generation, and Interchange API",
    "description": "Provides load, generation, and interchange data. Load: Includes demand, load, and load forecast. Generation: Includes generation cleared and offered as well as related data. Interchange: Includes Energy transfers that cross Balancing Authority (BA) Area boundaries. Note: Data available within the interchange endpoints are subject to change up to 105 days after the market day due to reconciliation.",
    "version": "1.0",
    "x-provenance": {
      "harvestedBy": "API Evangelist",
      "fetchDate": "2026-07-27",
      "note": "Assembled verbatim from MISO's own anonymously served Azure API Management developer-portal data API. MISO's OpenAPI export endpoint returns a valid document whose paths object is EMPTY, so info, servers and components.securitySchemes were taken from that export, while paths, methods, operationIds, summaries, descriptions, parameters, response codes and response examples were taken from the portal operations endpoints, and components.schemas from the portal schemas endpoint. Nothing was invented, inferred or paraphrased.",
      "sources": [
        "https://data-exchange.misoenergy.org/developer/apis/load-generation-and-interchange-api?export=true&format=openapi%2Bjson&api-version=2022-04-01-preview (HTTP 200)",
        "https://data-exchange.misoenergy.org/developer/apis/load-generation-and-interchange-api/operations?api-version=2022-04-01-preview (HTTP 200)",
        "https://data-exchange.misoenergy.org/developer/apis/load-generation-and-interchange-api/operations/{operationId}?api-version=2022-04-01-preview (HTTP 200, all operations)",
        "https://data-exchange.misoenergy.org/developer/apis/load-generation-and-interchange-api/schemas/6a63cd40da09a311a00a1048?api-version=2022-04-01-preview (HTTP 200)"
      ],
      "gatewayVerification": "Anonymous GET to the gateway returns HTTP 401 \"Access denied due to missing subscription key\"; unknown routes return HTTP 404 \"Resource not found\" (verified 2026-07-27)."
    }
  },
  "servers": [
    {
      "url": "https://apim.misoenergy.org/lgi"
    }
  ],
  "paths": {
    "/v1/day-ahead/{date}/demand": {
      "get": {
        "operationId": "get-v1-day-ahead-date-demand",
        "summary": "Day-Ahead Cleared Demand",
        "description": "Demand cleared in the day-ahead market, by region in hourly or daily intervals. Available at 2pm EST the day before.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          },
          {
            "name": "timeResolution",
            "in": "query",
            "required": false,
            "description": "Time resolution of data",
            "schema": {
              "type": "string",
              "enum": [
                "hourly",
                "daily"
              ],
              "default": "hourly"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-DayAhead-DemandResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "fixed": 0,
                      "priceSens": 0,
                      "virtual": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/day-ahead/{date}/generation/cleared/physical": {
      "get": {
        "operationId": "get-v1-day-ahead-date-generation-cleared-physical",
        "summary": "Day-Ahead Cleared Generation, Physical",
        "description": "Physical generation cleared in the day-ahead market, in hourly intervals. Available at 2pm EST the day before.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Cleared-GenerationResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "supply": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/day-ahead/{date}/generation/cleared/virtual": {
      "get": {
        "operationId": "get-v1-day-ahead-date-generation-cleared-virtual",
        "summary": "Day-Ahead Cleared Generation, Virtual",
        "description": "Virtual generation cleared in the day-ahead market, in hourly intervals. Available at 2pm EST the day before.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Cleared-GenerationResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "supply": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/day-ahead/{date}/generation/fuel-type": {
      "get": {
        "operationId": "get-v1-day-ahead-date-generation-fuel-type",
        "summary": "Day-Ahead Generation Fuel Type",
        "description": "Generation fuel mix (in megawatts) of units cleared in the day-ahead market for the various fuel types in the MISO footprint, by region in hourly intervals. Available at 2pm EST the day before. 'Coal' includes combination coal/gas units; 'Gas' includes combination oil/gas units; 'Storage' includes pumped storage, ESR, and battery units. 'Solar' data is only available from 2022-01-01 onwards.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Generation-Fuel-TypeResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "fuelTypes": {
                        "coal": 0,
                        "gas": 0,
                        "nuclear": 0,
                        "water": 0,
                        "wind": 0,
                        "solar": 0,
                        "other": 0,
                        "storage": 0
                      },
                      "totalMw": 0,
                      "interval": "string"
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/day-ahead/{date}/generation/offered/ecomax": {
      "get": {
        "operationId": "get-v1-day-ahead-date-generation-offered-ecomax",
        "summary": "Day-Ahead Offered Generation ECOMAX",
        "description": "The Economic Maximum offered by generators in the day-ahead market, by region in hourly intervals. Available at 2pm EST the day before.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Offered-GenerationResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "mustRun": 0,
                      "economic": 0,
                      "emergency": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/day-ahead/{date}/generation/offered/ecomin": {
      "get": {
        "operationId": "get-v1-day-ahead-date-generation-offered-ecomin",
        "summary": "Day-Ahead Offered Generation ECOMIN",
        "description": "The Economic Minimum offered by generators in the day-ahead market, by region in hourly intervals. Available at 2pm EST the day before.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Offered-GenerationResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "mustRun": 0,
                      "economic": 0,
                      "emergency": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/day-ahead/{date}/interchange/net-scheduled": {
      "get": {
        "operationId": "get-v1-day-ahead-date-interchange-net-scheduled",
        "summary": "Day-Ahead Net Scheduled Interchange",
        "description": "Net scheduled interchange (NSI) that cleared the day-ahead market, by region in hourly intervals. Positive values indicate imports. Available at 2pm EST the day before.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Day-Ahead-Net-Scheduled-InterchangeResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "nsi": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/forecast/{date}/load": {
      "get": {
        "operationId": "get-v1-forecast-date-load",
        "summary": "Medium Term Load Forecast",
        "description": "Medium term load forecast (in megawatts), by region and zone in hourly or daily intervals. Use the 'init' parameter to access a specific past run. Available at 7am EST the day after the init date.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "init",
            "in": "query",
            "required": false,
            "description": "Specify the specific forecast run by the init (creation) date. Must always be before the current date and forecast date. If not set, defaults to 'date - 1d' when date < today, and 'today - 1d' when date >= today.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "localResourceZone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          },
          {
            "name": "timeResolution",
            "in": "query",
            "required": false,
            "description": "Time resolution of data",
            "schema": {
              "type": "string",
              "enum": [
                "hourly",
                "daily"
              ],
              "default": "hourly"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Forecast-LoadResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "localResourceZone": "Z1",
                      "loadForecast": 1349,
                      "init": "2026-02-02"
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/forecast/{date}/outage": {
      "get": {
        "operationId": "get-v1-forecast-date-outage",
        "summary": "Outage Forecast",
        "description": "The total capacity (in megawatts at economic maximum) for all units that are expected to be on outage, by region in hourly intervals. This endpoint has no lookback, dates must always be current or future. Available at 6am EST up to 6 days before.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Outage-ForecastResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "onOutage": 0,
                      "interval": "string"
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/historical/{date}/interchange/net-scheduled": {
      "get": {
        "operationId": "get-v1-historical-date-interchange-net-scheduled",
        "summary": "Historical Net Scheduled Interchange",
        "description": "Net scheduled interchange (NSI) final volumes, by adjacent balancing authority (BA) in hourly intervals. Includes updates from Dynamic Schedules, Emergency Power Purchases, and ARS/CRSG events. Positive values indicate imports. Available at 7am EST the day after. May be updated up to 105 days after-the-fact.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "adjacentBa",
            "in": "query",
            "required": false,
            "description": "Filter to a specific adjacent Balancing Authority (ex. PJM, TVA, SWPP).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Historical-Net-Scheduled-InterchangeResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "adjacentBa": "string",
                      "nsi": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/binding-constraint": {
      "get": {
        "operationId": "get-v1-real-time-date-binding-constraint",
        "summary": "Real-Time Binding Constraints",
        "description": "The total number of binding constraints in the real-time market, in hourly intervals. Available at 7am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Real-Time-BindingConstraintsResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "constraintCount": 0,
                      "interval": "string"
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/demand/actual": {
      "get": {
        "operationId": "get-v1-real-time-date-demand-actual",
        "summary": "Actual Load",
        "description": "Actual load (in megawatt-hours) as used in the real-time market, by region or grouped local resource zones (LRZ) in hourly or daily intervals. Available at 2am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "geoResolution",
            "in": "query",
            "required": false,
            "description": "Geographic resolution of data",
            "schema": {
              "type": "string",
              "enum": [
                "region",
                "localResourceZone"
              ],
              "default": "region"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "localResourceZone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          },
          {
            "name": "timeResolution",
            "in": "query",
            "required": false,
            "description": "Time resolution of data",
            "schema": {
              "type": "string",
              "enum": [
                "hourly",
                "daily"
              ],
              "default": "hourly"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-LoadResponse-json"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/demand/forecast": {
      "get": {
        "operationId": "get-v1-real-time-date-demand-forecast",
        "summary": "Real-Time Cleared Demand",
        "description": "Demand cleared (in megawatts) in the real-time market, in hourly or daily intervals. Available at 7am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "timeResolution",
            "in": "query",
            "required": false,
            "description": "Time resolution of data",
            "schema": {
              "type": "string",
              "enum": [
                "hourly",
                "daily"
              ],
              "default": "hourly"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-RealTime-DemandResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "interval": "string",
                      "demand": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/demand/load-state-estimator": {
      "get": {
        "operationId": "get-v1-real-time-date-demand-load-state-estimator",
        "summary": "Real-Time State Estimator Load",
        "description": "Preliminary actual load (in megawatt-hours) as determined by the state estimator and reported in EIA-930 filings, in hourly or daily intervals. Available at 7am EST the day after. Aggregated by zone groups to preserve market participant confidentiality.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "timeResolution",
            "in": "query",
            "required": false,
            "description": "Time resolution of data",
            "schema": {
              "type": "string",
              "enum": [
                "hourly",
                "daily"
              ],
              "default": "hourly"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Demand-EstResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "zone": "string",
                      "demand": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/generation/cleared/supply": {
      "get": {
        "operationId": "get-v1-real-time-date-generation-cleared-supply",
        "summary": "Real-Time Cleared Generation",
        "description": "Generation cleared (in megawatts) in the real-time market, in hourly or 5-minute intervals. Available at 7am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "timeResolution",
            "in": "query",
            "required": false,
            "description": "Time resolution of data",
            "schema": {
              "type": "string",
              "enum": [
                "5min",
                "hourly"
              ],
              "default": "hourly"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Gen-ClearedResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "generation": 0,
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      }
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/generation/committed/ecomax": {
      "get": {
        "operationId": "get-v1-real-time-date-generation-committed-ecomax",
        "summary": "Real-Time Committed Generation, ECOMAX",
        "description": "The Economic Maximum for all units committed in the real-time market and Forward Reliability Assessment & Commitment (FRAC) process, in hourly intervals. Available at 7am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Committed-GenerationResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "committedForwardEcoMax": 0,
                      "committedRealTimeEcoMax": 0,
                      "committedEcoMaxDelta": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/generation/fuel-on-the-margin": {
      "get": {
        "operationId": "get-v1-real-time-date-generation-fuel-on-the-margin",
        "summary": "Real-Time Generation Fuel-on-the-Margin",
        "description": "Retrieve real-time generation fuel on the margin, by region in 5-minute intervals. Available at 7am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "fuelType",
            "in": "query",
            "required": false,
            "description": "Filter to specific fuel type (ex. Coal, Gas, Wind, Solar, Hydro, Nuclear, Storage).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-RtGenerationFuelOnTheMarginResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "peak": true,
                      "region": "NORTH",
                      "fuelType": "string",
                      "unitCount": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/generation/fuel-type": {
      "get": {
        "operationId": "get-v1-real-time-date-generation-fuel-type",
        "summary": "Real-Time Generation Fuel Type",
        "description": "Generation fuel mix (in megawatts) as determined by the state estimator for the various fuel types in the MISO footprint, by region in hourly intervals. Available at 7am EST the day after. 'Coal' includes combination coal/gas units; 'Gas' includes combination oil/gas units; 'Storage' includes pumped storage, ESR, and battery units. 'Solar' data is only available from 2022-01-01 onwards.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NORTH",
                "CENTRAL",
                "SOUTH",
                "MISO",
                "NO_REGION"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Generation-Fuel-TypeResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "region": "NORTH",
                      "fuelTypes": {
                        "coal": 0,
                        "gas": 0,
                        "nuclear": 0,
                        "water": 0,
                        "wind": 0,
                        "solar": 0,
                        "other": 0,
                        "storage": 0
                      },
                      "totalMw": 0,
                      "interval": "string"
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/generation/offered/ecomax": {
      "get": {
        "operationId": "get-v1-real-time-date-generation-offered-ecomax",
        "summary": "Real-Time Offered Generation, ECOMAX",
        "description": "The Economic Maximum from unit offers available to the real-time market and Forward Reliability Assessment & Commitment (FRAC) process, in hourly intervals. Available at 7am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Offer-GenerationResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "offerForwardEcoMax": 0,
                      "offerRealTimeEcoMax": 0,
                      "offerEcoMaxDelta": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/interchange/net-actual": {
      "get": {
        "operationId": "get-v1-real-time-date-interchange-net-actual",
        "summary": "Real-Time Net Actual Interchange",
        "description": "Net actual interchange (NAI), by adjacent balancing authority (BA) in hourly intervals. Available at 7am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "adjacentBa",
            "in": "query",
            "required": false,
            "description": "Filter to a specific adjacent Balancing Authority (ex. PJM, TVA, SWPP).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Net-Actual-InterchangeResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "adjacentBa": "string",
                      "nai": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/interchange/net-scheduled": {
      "get": {
        "operationId": "get-v1-real-time-date-interchange-net-scheduled",
        "summary": "Real-Time Net Scheduled Interchange",
        "description": "Net scheduled interchange (NSI) used in the Forward Reliability Assessment & Commitment (FRAC) process and Unit Dispatch System (UDS) cases, in hourly intervals. Positive values indicate imports. Available at 7am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Real-Time-Net-Scheduled-InterchangeResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "nsiForward": 0,
                      "nsiRealTime": 0,
                      "nsiDelta": 0
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/real-time/{date}/outage": {
      "get": {
        "operationId": "get-v1-real-time-date-outage",
        "summary": "Real-Time Outages",
        "description": "The approved (planned) outages (in megawatt-hours) used in the real-time market and Forward Reliability Assessment & Commitment (FRAC) process, in hourly intervals. Available at 7am EST the day after.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Market date in the form: yyyy-mm-dd",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Filter to a specific time interval (ex. \"13:05\", \"13\"), in Eastern Standard Time (UTC\u221205:00).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200-OK-Real-Time-OutageResponse-json"
                },
                "example": {
                  "data": [
                    {
                      "timeInterval": {
                        "resolution": "daily",
                        "start": "2023-06-28 00:00:00.000",
                        "end": "2023-06-29 00:00:00.000",
                        "value": "2023-06-29"
                      },
                      "realTime": 0,
                      "forward": 0,
                      "delta": 0,
                      "interval": "string"
                    }
                  ],
                  "page": {
                    "pageNumber": 0,
                    "pageSize": 0,
                    "totalElements": 0,
                    "totalPages": 0,
                    "lastPage": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format",
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "description": "Invalid or missing Bearer Token in the Authorization header",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Date not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    },
    "schemas": {
      "ClearedGeneration": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "supply": {
            "type": "number",
            "description": "Total supply cleared (in megawatts) based on physical or virtual offers."
          }
        }
      },
      "CommittedGeneration": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "committedForwardEcoMax": {
            "type": "number",
            "description": "The economic maximum (in megawatts) for all units committed in the Forward Reliability Assessment & Commitment (FRAC) process."
          },
          "committedRealTimeEcoMax": {
            "type": "number",
            "description": "The economic maximum (in megawatts) for all units committed in the real-time market, based on the peak case within the hour."
          },
          "committedEcoMaxDelta": {
            "type": "number",
            "description": "The difference between the forward and real-time values."
          }
        }
      },
      "DayAheadDemand": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "fixed": {
            "type": "number",
            "description": "Total demand cleared (in megawatts) based on physical fixed bids."
          },
          "priceSens": {
            "type": "number",
            "description": "Total demand cleared (in megawatts) based on physical price sensitive bids."
          },
          "virtual": {
            "type": "number",
            "description": "Total demand cleared (in megawatts) based on virtual bids."
          }
        }
      },
      "DayAheadNetScheduledInterchange": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "nsi": {
            "type": "number"
          }
        }
      },
      "Demand": {
        "type": "object",
        "properties": {
          "interval": {
            "type": "string"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "demand": {
            "type": "number"
          }
        }
      },
      "DemandEst": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "zone": {
            "type": "string"
          },
          "demand": {
            "type": "number"
          }
        }
      },
      "DemandForecastMw": {
        "type": "object",
        "properties": {
          "interval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "demand": {
            "type": "number"
          }
        }
      },
      "FuelType": {
        "type": "object",
        "properties": {
          "coal": {
            "type": "number"
          },
          "gas": {
            "type": "number"
          },
          "nuclear": {
            "type": "number"
          },
          "water": {
            "type": "number"
          },
          "wind": {
            "type": "number"
          },
          "solar": {
            "type": "number"
          },
          "other": {
            "type": "number"
          },
          "storage": {
            "type": "number"
          }
        }
      },
      "GenerationCleared": {
        "type": "object",
        "properties": {
          "generation": {
            "type": "number"
          },
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          }
        }
      },
      "GenerationFuelType": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "fuelTypes": {
            "$ref": "#/components/schemas/FuelType"
          },
          "totalMw": {
            "type": "number"
          },
          "interval": {
            "type": "string"
          }
        }
      },
      "Geo-Res-Region-Zone": {
        "enum": [
          "region",
          "localResourceZone"
        ],
        "type": "string",
        "default": "region"
      },
      "HistoricalNetScheduledInterchange": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "adjacentBa": {
            "type": "string"
          },
          "nsi": {
            "type": "number"
          }
        }
      },
      "Load": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "region": {
            "type": "string",
            "description": "The applicable region. When geoResolution=region.",
            "example": "North"
          },
          "localResourceZone": {
            "type": "string",
            "description": "The applicable localResourceZone. When geoResolution=localResourceZone.",
            "example": "LRZ3_5"
          },
          "load": {
            "type": "number",
            "example": 1349.2
          }
        }
      },
      "LoadForecast": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "region": {
            "type": "string",
            "allOf": [
              {
                "$ref": "#/components/schemas/Region"
              }
            ],
            "example": "NORTH"
          },
          "localResourceZone": {
            "type": "string",
            "example": "Z1"
          },
          "loadForecast": {
            "type": "number",
            "example": 1349
          },
          "init": {
            "type": "string",
            "allOf": [
              {
                "$ref": "#/components/schemas/LocalDate"
              }
            ],
            "example": "2026-02-02"
          }
        }
      },
      "LocalDate": {
        "type": "string",
        "format": "date"
      },
      "NetActualInterchange": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "adjacentBa": {
            "type": "string"
          },
          "nai": {
            "type": "number"
          }
        }
      },
      "OfferGeneration": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "offerForwardEcoMax": {
            "type": "number",
            "description": "The economic maximum (in megawatts) from unit offers available to the Forward Reliability Assessment & Commitment (FRAC) process."
          },
          "offerRealTimeEcoMax": {
            "type": "number",
            "description": "The economic maximum (in megawatts) from unit offers available to the real-time market."
          },
          "offerEcoMaxDelta": {
            "type": "number",
            "description": "The difference between the forward and real-time values."
          }
        }
      },
      "OfferedGeneration": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "mustRun": {
            "type": "number",
            "description": "The economic minimum/maximum (in megawatts) offered by generators with the must run commit status in the day-ahead market."
          },
          "economic": {
            "type": "number",
            "description": "The economic minimum/maximum (in megawatts) offered by generators as economic in the day-ahead market."
          },
          "emergency": {
            "type": "number",
            "description": "The economic minimum/maximum (in megawatts) offered by generators as emergency in the day-ahead market."
          }
        }
      },
      "OutageForecast": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "onOutage": {
            "type": "number"
          },
          "interval": {
            "type": "string"
          }
        }
      },
      "PageClearedGeneration": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClearedGeneration"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageCommittedGeneration": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommittedGeneration"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageDayAheadDemand": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DayAheadDemand"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageDayAheadNetScheduledInterchange": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DayAheadNetScheduledInterchange"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageDemandEst": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DemandEst"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageDemandForecastMw": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DemandForecastMw"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageGenerationCleared": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenerationCleared"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageGenerationFuelType": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenerationFuelType"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageHistoricalNetScheduledInterchange": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoricalNetScheduledInterchange"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int64"
          },
          "lastPage": {
            "type": "boolean"
          }
        }
      },
      "PageLoad": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Load"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageLoadForecast": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadForecast"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageNetActualInterchange": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetActualInterchange"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageOfferGeneration": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OfferGeneration"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageOfferedGeneration": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OfferedGeneration"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageOutageForecast": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutageForecast"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageRealTimeBindingConstraints": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RealTimeBindingConstraints"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageRealTimeGenerationFuelMargin": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RealTimeGenerationFuelMargin"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageRealTimeNetScheduledInterchange": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RealTimeNetScheduledInterchange"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PageRealTimeOutage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RealTimeOutage"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "RealTimeBindingConstraints": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "constraintCount": {
            "type": "number"
          },
          "interval": {
            "type": "string"
          }
        }
      },
      "RealTimeDemand": {
        "type": "object",
        "properties": {
          "interval": {
            "type": "string"
          },
          "demand": {
            "type": "number"
          }
        }
      },
      "RealTimeGenerationFuelMargin": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "peak": {
            "type": "boolean"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "fuelType": {
            "type": "string"
          },
          "unitCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RealTimeNetScheduledInterchange": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "nsiForward": {
            "type": "number",
            "description": "The net scheduled interchange (in megawatts) as used in the Forward Reliability Assessment Commitment (FRAC) process."
          },
          "nsiRealTime": {
            "type": "number",
            "description": "The net scheduled interchange (in megawatts) as used in the real-time market."
          },
          "nsiDelta": {
            "type": "number",
            "description": "The difference between the forward and real-time values."
          }
        }
      },
      "RealTimeOutage": {
        "type": "object",
        "properties": {
          "timeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "realTime": {
            "type": "number",
            "description": "The approved (planned) outages (in megawatts) used in the real-time market."
          },
          "forward": {
            "type": "number",
            "description": "The approved (planned) outages (in megawatts) used in the Forward Reliability Assessment & Commitment (FRAC) process."
          },
          "delta": {
            "type": "number",
            "description": "The difference between the forward and real-time values."
          },
          "interval": {
            "type": "string"
          }
        }
      },
      "Region": {
        "enum": [
          "NORTH",
          "CENTRAL",
          "SOUTH",
          "MISO",
          "NO_REGION"
        ],
        "type": "string"
      },
      "Time-Res-5Min-Hourly": {
        "enum": [
          "5min",
          "hourly"
        ],
        "type": "string",
        "default": "hourly"
      },
      "Time-Res-Hourly": {
        "enum": [
          "hourly"
        ],
        "type": "string",
        "default": "hourly"
      },
      "Time-Res-Hourly-Daily": {
        "enum": [
          "hourly",
          "daily"
        ],
        "type": "string",
        "default": "hourly"
      },
      "TimeInterval": {
        "type": "object",
        "properties": {
          "resolution": {
            "enum": [
              "5min",
              "hourly",
              "daily"
            ],
            "type": "string",
            "example": "daily"
          },
          "start": {
            "pattern": "([0-9]{4})-([0-9]{2})-([0-9]{2}) ([0-9]{2}):([0-9]{2}):([0-9]{2}).([0-9]{3})",
            "type": "string",
            "description": "In Eastern Standard Time (UTC\u221205:00).",
            "example": "2023-06-28 00:00:00.000"
          },
          "end": {
            "pattern": "([0-9]{4})-([0-9]{2})-([0-9]{2}) ([0-9]{2}):([0-9]{2}):([0-9]{2}).([0-9]{3})",
            "type": "string",
            "description": "In Eastern Standard Time (UTC\u221205:00).",
            "example": "2023-06-29 00:00:00.000"
          },
          "value": {
            "type": "string",
            "description": "Short hand value for time interval. Can be timestamp for 5min resolution (ex: 2023-06-28 00:00:00.000), hour ending value for hourly resolution, 1-24 (ex: 21), or date string for daily (ex: 2023-06-28). In Eastern Standard Time (UTC\u221205:00).",
            "example": "2023-06-29"
          }
        }
      },
      "V1Day-ahead-date-DemandGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Day-ahead-date-DemandGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationClearedPhysicalGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationClearedPhysicalGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationClearedVirtualGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationClearedVirtualGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationFuel-typeGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationFuel-typeGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationOfferedEcomaxGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationOfferedEcomaxGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationOfferedEcominGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Day-ahead-date-GenerationOfferedEcominGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Day-ahead-date-InterchangeNet-scheduledGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Day-ahead-date-InterchangeNet-scheduledGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Forecast-date-LoadGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Forecast-date-LoadGetRequest-1": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Forecast-date-LoadGetRequest-2": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Forecast-date-OutageGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Forecast-date-OutageGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Historical-date-InterchangeNet-scheduledGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Historical-date-InterchangeNet-scheduledGetRequest-1": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Historical-date-InterchangeNet-scheduledGetRequest-2": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Real-time-date-Binding-constraintGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Real-time-date-Binding-constraintGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Real-time-date-DemandActualGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Real-time-date-DemandActualGetRequest-1": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Real-time-date-DemandActualGetRequest-2": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Real-time-date-DemandForecastGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Real-time-date-DemandForecastGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Real-time-date-DemandLoad-state-estimatorGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "V1Real-time-date-DemandLoad-state-estimatorGetRequest-1": {
        "type": "integer",
        "format": "int32",
        "default": 1,
        "x-apim-inline": true
      },
      "V1Real-time-date-DemandLoad-state-estimatorGetRequest-2": {
        "type": "string",
[...]
